@model PDMS.Model.ViewModels.FixtureStorageTransferVM
<section class="content-header portal-content-header">
    <h1>库存报表查询</h1>
</section>
<section class="content portal-content">
    <div class="row">
        <div class="col-xs-12" id="js_criteria_alert_cnt">
        </div>
        <div class="col-md-12 col-lg-9">
            <h4 class="margin-td-5" id="js_search_keywords"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 col-lg-8">
            </div>
            <div class="col-md-12 search-field col-lg-4">
                <a class="btn btn-primary btn-sm" data-toggle="modal" id="bt_search" data-target="#js_search_modal">
                    <i class="fa fa-search"></i> 查询
                </a>
                <a id="js_btn_export" class="btn btn-primary btn-sm" role="button">
                    <i class="glyphicon glyphicon-save"></i> 导出
                </a>
            </div>

        </div>
    </div>
    <div id="div_print" class="row">
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_Bom_datatable">
                <thead>
                    <tr>
                        <th class="table-col-seq nosort">序号</th>
                        <th>厂区</th>
                        <th>OP类型</th>
                        <th>功能厂</th>
                        <th>料号</th>
                        <th>品名</th>
                        <th>型号</th>
                        <th>期初库存</th>
                        <th>本期入库</th>
                        <th>本期出库</th>
                        <th>本期结存</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-seq nosort">序号</th>
                        <th>厂区</th>
                        <th>OP类型</th>
                        <th>功能厂</th>
                        <th>料号</th>
                        <th>品名</th>
                        <th>型号</th>
                        <th>期初库存</th>
                        <th>本期入库</th>
                        <th>本期出库</th>
                        <th>本期结存</th>
                    </tr>
                </tfoot>
            </table>
            <div id="page" class="row"></div>
        </div><!--/表格-->
    </div>

</section>

@section ViewModals{

    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查询</h4>
                </div>
                <div class="modal-body">
                    <form id="js_form_query" class="form-horizontal" data-need-validate="true">
                        <div class="row">

                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="js_select_Plant_Organization_UID">厂区</label>
                                <div class="col-sm-7">
                                    <select class=" form-control input-sm required" id="js_select_Plant_Organization_UID" name="Plant_Organization_UID"
                                            required data-msg-required="请选择厂区">
                                        <option></option>
                                        @foreach (var item in Model.Plants)
                                        {
                                            <option value=@item.Plant_OrganizationUID>@item.Plant</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="js_select_BG_Organization_UID">OP类型</label>
                                <div class="col-sm-7">
                                    <select class=" form-control input-sm" id="js_select_BG_Organization_UID" name="BG_Organization_UID"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="js_select_FunPlant_Organization_UID">功能厂</label>
                                <div class="col-sm-7">
                                    <select class=" form-control input-sm" id="js_select_FunPlant_Organization_UID" name="FunPlant_Organization_UID"></select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="s_input_Part_ID">料号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="s_input_Part_ID" name="Part_ID">
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="s_input_Part_Name">品名</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="s_input_Part_Name" name="Part_Name">
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="s_input_Part_Spec">型号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="s_input_Part_Spec" name="Part_Spec">
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-5 control-label" for="s_input_intMonth">月份</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm date-month" id="s_input_intMonth" name="intMonth">
                                </div>
                            </div>
                  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" data-type="date-interval">时间段</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <span class="input-group-addon">From</span>
                                            <input type="text" name="Start_Date" class="form-control input-sm date" id="js_s_input_modified_from"
                                                   required data-msg-required="请填写起始时间">
                                            <span class="input-group-addon">To</span>
                                            <input type="text" name="End_Date" class="form-control input-sm date" id="js_s_input_modified_to"
                                                   required data-msg-required="请填写截止时间">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_clear"><i class="fa fa-eraser"></i> 清空</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_query"><i class="fa fa-search"></i> 查询</button>
                </div>
            </div>
        </div>
    </div>

}
@section ViewScripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#js_btn_export').hide();
        //})

        $('#js_btn_clear').click(function () {
            PDMS.Utility.Criteria.Clear();
            $('#js_search_modal').find('select').val('');
        });

        $(function () {
            var subDatatable = null;
            var StorageReportSetting = (function () {
            var urls = {
                //画面初始化加载
                queryStorageReports: '@Url.Action("QueryStorageReports", "FixturePart")',

                @*queryBGByPlant: '@Url.Action("QueryBGByPlant", "FixturePart")',

                queryFunplantByop: '@Url.Action("QueryFunplantByop", "FixturePart")',*@

                //根据厂区取得OP类型
                getCurrentOPType: '@Url.Action("GetCurrentOPType", "Fixture")',
                //根据OP类型取得功能厂
                getFunPlantByOPTypes: '@Url.Action("GetFunPlantByOPTypes", "Fixture")',

                doSRExportFunction: '@Url.Action("DoSRExportFunction", "FixturePart")'
            };
            //#region 定义字段列
                var columns = [{
                    data: null,
                    className: "table-col-seq text-center"
                }, {
                    data: "Plant",
                    className: "min-col-xs"
                }, {
                    data: "BG_Organization",
                    className: "min-col-xs"
                }, {
                    data: "FunPlant_Organization",
                    className: "min-col-xs"
                }, {
                    data: "Part_ID",
                    className: "min-col-xs"
                }, {
                    data: "Part_Name",
                    className: "min-col-xs"
                }, {
                    data: "Part_Spec",
                    className: "min-col-xs"
                }, {
                    data: "Balance_Qty",
                    className: "min-col-xs text-right"
                }, {
                    data: "In_Qty",
                    className: "min-col-xs text-right"
                }, {
                    data: "Out_Qty",
                    className: "min-col-xs text-right"
                }, {
                    data: "Last_Qty",
                    className: "min-col-xs text-right"
                }];

            //#endregion 定义字段列

            var _getParams = function () {
                return $('#js_form_query').serialize().replace(/\+/g, " ");
            };

            var _queryStorageReports = function (firstLoad, buildCriteria) {

                var config = {
                    pageId: "#page",
                    tableId: "#js_Bom_datatable",
                    remoteUrl: urls.queryStorageReports,
                    searchParams: _getParams(),
                    tableOptions: {
                        scrollX: true,
                        autoWidth: true,
                        columns: columns
                    }
                };
                if (!firstLoad) {
                    $('#page').page('destroy');
                    var chk_value = [];
                    if ($('#js_select_BG_Organization_UID').val() == '0') {
                        chk_value.push(2);
                    } if ($('#js_select_FunPlant_Organization_UID').val() == '0') {
                        chk_value.push(3);
                    }
                    table = PDMS.Utility.ReturnDataTable.Set(config, chk_value);
                }
                if (buildCriteria) {
                    PDMS.Utility.Criteria.Build();
                }
                PDMS.Utility.Pages.Set(config);
                $('table thead tr').find('th').removeClass('text-right');
            };
            return {
                urls: urls,
                Init: function () {
                    PDMS.Utility.Criteria.Init();
                    _queryStorageReports(true, false);
                },
                queryStorageReports: function (buildCriteria) {
                    if (!buildCriteria) {
                        buildCriteria = false;
                    }
                    _queryStorageReports(false, buildCriteria);
                },
                GetDatatable: function () {
                if (subDatatable == null) {
                    subDatatable = $('#js_Bom_datatable').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        retrieve: true,
                        columns: columns
                    });
                }
                return subDatatable;
            },
            }
        })();

            StorageReportSetting.Init();

            //查询按钮
            $('#js_btn_query').click(function () {
                debugger;
                $('H1').text('类型别库存报表');
                var width = $('.dataTables_scrollHead').parent().width();
                if ($('#js_form_query').valid()) {
                    StorageReportSetting.queryStorageReports(true);
                    $('#js_search_modal').modal('hide');
                }
                debugger;
                //if ($('#js_select_BG_Organization_UID').val() != '0'&&$('#js_select_FunPlant_Organization_UID').val() == '0') {
                //    var column = table.column(2);
                //    column.visible(!column.visible());
                //    $('H1').text('OP类型别库存报表');
                //} else {
                 
                //}
                if ($('#js_select_FunPlant_Organization_UID').val() != '0') {             
                    $('H1').text('功能厂别库存报表');
                } else {
                    //var column = table.column(2);
                    //column.visible(!column.visible());
                    var column = table.column(3);
                    column.visible(column.visible());
                    $('H1').text('OP类型别库存报表');
                }
                $('table ').width(width);
                if ($('#js_Bom_datatable  tbody').find('tr').find('td').length > 1) {
                    $('#js_btn_export').show();
                } else {
                    $('#js_btn_export').hide();
                }
            });

            //月份所在日期变更---START
            $('#s_input_intMonth').change(function () {
                if ($(this).val() != '') {
                    var myDate = new Date($("#s_input_intMonth").val());
                    var startDay = getCurrentMonthFirst(myDate);
                    var endDay = getCurrentMonthLast(myDate);
                    var myDateStart = startDay.getFullYear() + "-" + (startDay.getMonth() + 1) + "-" + startDay.getDate();
                    var myDateEnd = endDay.getFullYear() + "-" + (endDay.getMonth() + 1) + "-" + endDay.getDate();
                    $('#js_s_input_modified_from').val(myDateStart);
                    $('#js_s_input_modified_from').attr('disabled', 'disabled');
                    $('#js_s_input_modified_to').val(myDateEnd);
                    $('#js_s_input_modified_to').attr('disabled', 'disabled');
                } else {
                    $('#js_s_input_modified_from').val('');
                    $('#js_s_input_modified_to').val('');
                    $('#js_s_input_modified_from').removeAttr('disabled');
                    $('#js_s_input_modified_to').removeAttr('disabled');
                }
            })
            //月份所在日期变更-----END
            //厂区变更---START
            $('#js_select_Plant_Organization_UID').change(function () {
                $('#js_select_BG_Organization_UID').html('<option value="0"></option>');
                $('#js_select_FunPlant_Organization_UID').html('<option value="0"></option>');
                var url = StorageReportSetting.urls.getCurrentOPType,
                 oporgid = $('#js_select_Plant_Organization_UID option:selected').val();
                $.post(url, { plant_OrganizationUID: oporgid }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if(@Model.OptypeID!=0)
                        {
                            if(@Model.OptypeID==data[i].Organization_UID )
                            {
                                $('#js_select_BG_Organization_UID').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                    
                            }
                        }else
                        {
                            $('#js_select_BG_Organization_UID').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                    
                        }
                    }
                })
            })
            //厂区变更-----END

            //BG变更---START
            $('#js_select_BG_Organization_UID').change(function () {
                $('#js_select_FunPlant_Organization_UID').html('<option value="0"></option>');
                var url = StorageReportSetting.urls.getFunPlantByOPTypes,
                    opuid = $(this).val();
                $.post(url, { Optype: $('#js_select_BG_Organization_UID').val() }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if(@Model.FunPlantID!=0)
                        {
                            if(@Model.FunPlantID==data[i].FunPlant_OrganizationUID )
                            {
                                $('#js_select_FunPlant_Organization_UID').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                            }
                        }else
                        {
                            $('#js_select_FunPlant_Organization_UID').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                        }
                            }
                })
            })
            //BG变更-----END

        //导出按钮---START
            $('#js_btn_export').click(function () {
                if ($('#js_Bom_datatable  tbody').find('tr').find('td').length > 1) {
                    debugger;
                    var width = $('.dataTables_scrollHead').parent().width();
                    var url = StorageReportSetting.urls.doSRExportFunction,
                    plant = $('#js_select_Plant_Organization_UID').val(),
                    bg = $('#js_select_BG_Organization_UID').val(),
                    funplant = $('#js_select_FunPlant_Organization_UID').val(),
                    Part_ID = $('#s_input_Part_ID').val(),
                       Part_Name = $('#s_input_Part_Name').val(),
                          Part_Spec = $('#s_input_Part_Spec').val(),
                    start_date = $('#js_s_input_modified_from').val(),
                    end_date = $('#js_s_input_modified_to').val();
                    debugger;
                    if (plant == "" || plant == "undefined" || plant == undefined) {
                        plant = 0;
                    }
                    if (bg == "" || bg == "undefined" || bg == undefined) {
                        bg = 0;
                    }
                    if (funplant==null|| funplant == "" || funplant == "undefined" || funplant == undefined) {
                        funplant = 0;
                    }
                 
                    if (Part_ID==null||Part_ID == "undefined" || Part_ID == undefined) {
                        Part_ID = "";
                    }
                    if (Part_Name==null||Part_Name == "undefined" || Part_Name == undefined) {
                        Part_Name = "";
                    }
                    if (Part_Spec==null||Part_Spec == "undefined" || Part_Spec == undefined) {
                        Part_Spec = "";
                    }
                    if (start_date == ""||start_date == "undefined" || start_date == undefined) {
                        start_date = "0001-01-01";
                    }
                    if ( end_date == ""||end_date == "undefined" || end_date == undefined) {
                        end_date = "0001-01-01";
                    }
                    url += "?plant=" + plant + "&bg=" + bg + "&funplant=" + funplant;
                    url += "&Part_ID=" + Part_ID +"&Part_Name=" + Part_Name +"&Part_Spec=" + Part_Spec + "&start_date=" + start_date + "&end_date=" + end_date;
                    window.location.href = url;
                    $('table').width(width);
                }else
                {

                    PDMS.Utility.MessageBox.info('没有要导出的数据');
                }
        })
            //导出按钮-----END

            //检测输入数据
        $('#js_form_user_edit').validate({
            errorContainer: $('ul.validate-error'),
            errorLabelContainer: $('#js_edit_modal ul.validate-error'),
            wrapper: 'li'
        });

            /* 获取当前月的第一天*/
        function getCurrentMonthFirst(date) {

            date.setDate(1);
            return date;
        }

            /* 获取当前月的最后一天*/
        function getCurrentMonthLast(date) {

            var currentMonth = date.getMonth();
            var nextMonth = ++currentMonth;
            var nextMonthFirstDay = new Date(date.getFullYear(), nextMonth, 1);
            var oneDay = 1000 * 60 * 60 * 24;
            return new Date(nextMonthFirstDay - oneDay);
        }
    })
    </script>
}
