<section class="content portal-content">
    <div class="row">
        <div class="col-xs-12" id="js_criteria_alert_cnt">
        </div>
        <div class="col-md-12 col-lg-9">
            <h4 class="margin-td-5" id="js_search_keywords"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 search-field col-lg-12">
                <a class="fa fa-search btn btn-primary" data-toggle="modal" id="bt_search" data-target="#js_search_modal"> 查询</a>
                <a class="fa fa-plus btn btn-primary" role="button" data-toggle="modal" id="js_btn_Add"> 新增</a>
            </div>

        </div>
    </div>
    <hr class="hr-custom">

    <div class="row">
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_master_datatable">
                <thead>
                    <tr>
                        <th class="table-col-checkbox nosort"><input type="checkbox" class="js-checkbox-all" /></th>
                        <th class="table-col-seq nosort">序号</th>
                        <th class="table-col-action nosort">操作</th>
                        <th>厂区</th>
                        <th>OP类型</th>
                        <th>功能厂</th>
                        <th>审核状态</th>
                        <th>需求日期</th>
                        <th>计算日期</th>
                        <th>申请人</th>
                        <th>申请日期</th>
                        <th>审核人</th>
                        <th>审核日期</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-checkbox nosort"></th>
                        <th class="table-col-seq nosort">序号</th>
                        <th class="table-col-action nosort">操作</th>
                        <th>厂区</th>
                        <th>OP类型</th>
                        <th>功能厂</th>
                        <th>审核状态</th>
                        <th>需求日期</th>
                        <th>计算日期</th>
                        <th>申请人</th>
                        <th>申请日期</th>
                        <th>审核人</th>
                        <th>审核日期</th>
                    </tr>
                </tfoot>
            </table>
            <div id="page" class="row"></div>

        </div><!--/表格-->
    </div>

</section>
@section ViewModals{
    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查询</h4>
                </div>
                <div class="modal-body">
                    <form id="js_form_query" class="form-horizontal" data-need-validate="true">
                        <div class="row">

                            <div class="form-group col-xs-12 col-md-5 col-lg-6">
                                <label class="col-sm-4 control-label" for="js_select_factory_query">厂区</label>
                                <div class="col-sm-8">
                                    <select class="selectpicker form-control input-sm" id="js_select_factory_query" name="Plant_Organization_UID" data-live-search="true">
                                        <option></option>
                                        @foreach (var item in Model.Plants)
                                        {
                                            <option value=@item.Plant_OrganizationUID>@item.Plant</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-4 control-label" for="js_select_optype_query">OP类型</label>
                                <div class="col-sm-8">
                                    <select class="selectpicker form-control input-sm" id="js_select_optype_query" name="BG_Organization_UID" data-live-search="true"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-4 control-label" for="js_select_funplant_query">功能厂</label>
                                <div class="col-sm-8">
                                    <select class="selectpicker form-control input-sm" id="js_select_funplant_query" name="FunPlant_Organization_UID" data-live-search="true"></select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-4 control-label" for="js_select_status_query">审核状态</label>
                                <div class="col-sm-8">
                                    <select class="selectpicker form-control input-sm" id="js_select_status_query" name="Status_UID" data-live-search="true">
                                        <option></option>
                                        @foreach (var item in Model.StatusList)
                                        {
                                            <option value=@item.Enum_UID>@item.Enum_Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-4 control-label">需求日期</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <span class="input-group-addon">从</span>
                                        <input type="text" name="Demand_Date_From" class="form-control input-sm date" id="js_input_demandDateFrom_query">
                                        <span class="input-group-addon">至</span>
                                        <input type="text" name="Demand_Date_To" class="form-control input-sm date" id="js_input_demandDateTo_query">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                                <label class="col-sm-4 control-label">计算日期</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <span class="input-group-addon">从</span>
                                        <input type="text" name="Calculation_Date_From" class="form-control input-sm date" id="js_input_culculateDateFrom_query">
                                        <span class="input-group-addon">至</span>
                                        <input type="text" name="Calculation_Date_To" class="form-control input-sm date" id="js_input_culculateDateTo_query">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_clear"><i class="fa fa-eraser"></i> 清空</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_query"><i class="fa fa-search"></i> 查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js_add_modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="s_input_optype_add">厂区</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control input-sm" id="js_select_factory_add" name="Plant_Organization_UID" data-live-search="true">
                                    @foreach (var item in Model.Plants)
                                    {
                                        <option value=@item.Plant_OrganizationUID>@item.Plant</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="s_input_optype_add">OP类型</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control input-sm" id="js_select_optype_add" name="BG_Organization_UID" data-live-search="true"></select>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label">功能厂</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control input-sm" id="js_select_funplant_add" name="FunPlant_Organization_UID" data-live-search="true"></select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="js_input_Calculation_Date_add">需求日期</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control input-sm date required" id="js_input_Calculation_Date_add" name="Calculation_Date">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <ul class="list-group validate-error"></ul>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_add"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
                </div>

            </div>
        </div>
    </div>

    <!--编辑弹出框-->
    <div class="modal fade" id="js_edit_modal" role="dialog">
        <div class="modal-dialog1 modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="detail-title">编辑</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>厂区</th>
                                <th>OP类型</th>
                                <th>功能厂</th>
                                <th>审核状态</th>
                                <th>需求日期</th>
                                <th>计算日期</th>
                                <th>申请人</th>
                                <th>申请日期</th>
                                <th>审核人</th>
                                <th>审核日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="js_td_factory"></td>
                                <td id="js_td_op"></td>
                                <td id="js_td_func"></td>
                                <td id="js_td_status"></td>
                                <td id="js_td_demandDate"></td>
                                <td id="js_td_calculateDate"></td>
                                <td id="js_td_appliantUID"></td>
                                <td id="js_td_applyDate"></td>
                                <td id="js_td_appoverUID"></td>
                                <td id="js_td_appoveDate"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-body form-horizontal">
                    <hr class="hr-custom">
                    <input type="hidden" id="Fixture_Part_Demand_M_UID" name="Fixture_Part_Demand_M_UID" />
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <h4>
                                &nbsp;&nbsp;配件配比
                                @*<button class="btn btn-primary btn-sm" id="js_btn_viweedit_FixturePart_delete"> 删除配件</button>*@
                                <button type="button" class="btn btn-primary btn-sm" id="js_btn_export"><i class="fa fa-download"></i> 导出</button>
                            </h4>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix" id="demandM-filter">
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="js_input_filter_Fixture_No" name="Fixture_No">治具图号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control input-sm" id="js_input_filter_Fixture_No" name="Fixture_No">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="js_input_filter_Part_ID" name="Part_ID">配件料号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control input-sm" id="js_input_filter_Part_ID" name="Part_ID">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="js_input_filter_Part_Name" name="Part_Name">配件品名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control input-sm" id="js_input_filter_Part_Name" name="Part_Name">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-5 control-label" for="js_input_filter_Part_Spec" name="Part_Spec">配件型号</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control input-sm" id="js_input_filter_Part_Spec" name="Part_Spec">
                            </div>
                        </div>
                    </div>
                    <table id="js_sub_table_viewedit" class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="table-col-checkbox nosort">
                                    <input type="checkbox" class="js-checkbox-all" />
                                </th>
                                <th class="table-col-seq nosort">序号</th>
                                <th class="padding-l-5-i">治具图号</th>
                                <th class="padding-l-5-i">配件料号</th>
                                <th class="padding-l-5-i">配件品名</th>
                                <th class="padding-l-5-i">配件型号</th>
                                <th class="padding-l-5-i">线体数量</th>
                                <th class="padding-l-5-i">线体治具配比</th>
                                <th class="padding-l-5-i">治具数量</th>
                                <th class="padding-l-5-i">使用寿命(月)</th>
                                <th class="padding-l-5-i">毛需求量</th>
                                <th class="padding-l-5-i">用户调整量</th>
                                <th class="padding-l-5-i">采购周期</th>
                                <th class="padding-l-5-i">安全库存</th>
                                <th class="padding-l-5-i">是否删除</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_submit"><i class="fa fa-upload"></i> 提交</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_approve" style="display:none">审核</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_approve_cancel" style="display:none">审核取消</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_edit_setting"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>

                </div>
            </div>
        </div>
    </div>
}

@section ViewScripts{
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-select.css" />
    <script type="text/javascript" src="~/Scripts/EQP/bootstrap-select.js"></script>
    <style type="text/css">
        .modal-dialog1 {
            position: relative;
            display: table; /* This is important */
            overflow-y: auto;
            overflow-x: auto;
            width: 70%;
            margin-left: 15%;
            min-width: 300px;
        }
    </style>
    <div>
        <script type="text/javascript">
            $('#js_btn_clear').click(function () {
                var $searchform = $('#js_form_query');
                $searchform.find("select").each(function() {
                    $(this).find("option").attr("selected", false);
                    $(this).find("option").first().attr("selected", true);
                    $(this).selectpicker('refresh');
                });
                $searchform.find("input").val('');
                PDMS.Utility.Criteria.Clear();

            });

            $(function () {
                fixtureDataTable=null;
                editData = null;
                subDatataleViewEdit=null
                var FixturePartDemand = (function () {
                    buildCriteria=false;
                    var urls = {
                        //画面初始化加载
                        queryFixturePartDemandM: '@Url.Action("QueryFixturePartDemandMs", "FixturePart")',
                        //根据厂区取得OP类型
                        getCurrentOPType: '@Url.Action("GetCurrentOPType", "Fixture")',
                        //根据OP类型取得功能厂
                        getFunPlantByOPTypes: '@Url.Action("GetFunPlantByOPTypes", "Fixture")',
                        //根据厂区，OP，异常原因ID获取治具异常原因
                        getFixture_DefectCode: '@Url.Action("GetFixture_DefectCode", "Fixture")',
                        //根据厂区，BG，功能厂 获取治具编码
                        fixtureList:'@Url.Action("FixtureList", "Fixture")',

                        //根据厂区，BG，功能厂 获取治具分组
                        defectCode_GroupList:'@Url.Action("DefectCode_GroupList", "Fixture")',

                        //根据厂区，OP，功能厂 ，异常群组ID，获取治具异常原因
                        getDefectCodeByGroup: '@Url.Action("GetDefectCodeByGroup", "Fixture")',

                        //新建治具配件需求
                        addFixturePartDemand:'@Url.Action("AddFixturePartDemand", "FixturePart")',

                        //编辑治具配件需求
                        editFixturePartDemand:'@Url.Action("EditFixturePartDemandDs", "FixturePart")',

                        //提交治具配件需求
                        submitFixturePartDemand:'@Url.Action("SubmitFixturePartDemand", "FixturePart")',

                        //删除
                        deleteFixturePartDemandMByUID:'@Url.Action("DeleteFixturPartDemandByUID", "FixturePart")',

                        //审核
                        approveFixturePartDemandByUID:'@Url.Action("ApproveFixturPartDemandByUID", "FixturePart")',

                        //审核取消
                        approveCancelFixturePartDemandByUID:'@Url.Action("ApproveCancelFixturPartDemandByUID", "FixturePart")',

                        //根据UID获取治具需求信息
                        getFixturePartDemandMByUID:'@Url.Action("GetFixturePartDemandMByUID", "FixturePart")',

                        //导出全部
                        doAllExportDemandD: '@Url.Action("DoAllExportFixturePartDemandD", "FixturePart")',

                        //导出excel
                        doSelectedExportDemandD: '@Url.Action("DoExportSelectedFixturePartDemandD", "FixturePart")',


                        queryAllFixutreParts:'@Url.Action("QueryAllFixtureParts", "FixturePart")'
                    };
                    //#region 定义字段列
                    var columns = [{
                        createdCell: function (td, cellData, rowData, row, col) {
                            $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_Part_Demand_M_UID + '">')
                            .addClass('table-col-checkbox');
                        },
                        className: "text-center"
                    }, {
                        data: null,
                        className: "table-col-seq"
                    },
                    {
                        createdCell: function (td, cellData, rowData, row, col) {
                            var result = '<button class="btn btn-primary btn-xs" rel="action-popover">' +
                                        '<i class="fa fa-reorder"></i>' +
                                        '</button>' +
                                        '<div class="hidden popover-content">' +
                                            '{0}' +
                                            '{1}' +
                                            '{2}' +
                                            '{3}' +
                                            '{4}' +
                                            '{5}' +
                                        '</div>';

                            var buttonview = '<button type="button" class="btn btn-primary btn-xs js-grid-view" data-id="' + rowData.Fixture_Part_Demand_M_UID + '">详情</button>';
                            var buttonEdit = '';
                            var buttonSubmit = '';
                            var buttonApprove = '';
                            var buttonApproveCancel = '';
                            var buttondelete = '';
                            //未审核,审核取消 ->编辑
                            if (rowData.StatusName == '未审核' || rowData.StatusName == '审核取消') {
                                buttonEdit = '<button type="button" class="btn btn-primary btn-xs js-grid-edit" data-id="' + rowData.Fixture_Part_Demand_M_UID + '">编辑</button>';
                                buttonSubmit = '<button type="button" class="btn btn-primary btn-xs js-grid-submit" data-id="' + rowData.Fixture_Part_Demand_M_UID + '" data-demandDate="' + rowData.Demand_Date + '">提交</button>';
                            }
                            //未审核,待审核,审核取消 ->删除
                            if (rowData.StatusName == '未审核' || rowData.StatusName == '待审核' || rowData.StatusName == '审核取消') {
                                buttondelete = '<button type="button" class="btn btn-primary btn-xs js-grid-delete" data-id="' + rowData.Fixture_Part_Demand_M_UID + '" data-demandDate="' + rowData.Demand_Date +'">删除</button>';
                            }
                            //审核 ->审核取消
                            if (rowData.StatusName == '已审核') {
                                buttonApproveCancel = '<button type="button" class="btn btn-primary btn-xs js-grid-approve-cancel" data-id="' + rowData.Fixture_Part_Demand_M_UID + '" data-demandDate="' + rowData.Demand_Date +'">审核取消</button>';
                            }
                            //待审核 ->审核
                            if (rowData.StatusName == '待审核') {
                                buttonApprove = '<button type="button" class="btn btn-primary btn-xs js-grid-approve" data-id="' + rowData.Fixture_Part_Demand_M_UID + '" data-demandDate="' + rowData.Demand_Date +'">审核</button>';
                            }

                            result = result.replace('{0}', buttonview);
                            result = result.replace('{1}', buttonEdit);
                            result = result.replace('{2}', buttonSubmit);
                            result = result.replace('{3}', buttonApprove);
                            result = result.replace('{4}', buttonApproveCancel);
                            result = result.replace('{5}', buttondelete);
                            $(td).html(result);
                        },
                        className: "text-center"
                    },
                    {
                        data: "Plant_Organization_Name",
                        className: "min-col-xs"
                    }, {
                        data: "BG_Organization_Name",
                        className: "min-col-xs"
                    }, {
                        data: "FunPlant_Organization_Name",
                        className: "min-col-xs"
                    },
                    {
                        data: "StatusName",
                        className: "min-col-xs"
                    },
                    {
                        data: "Demand_Date",
                        className: "min-col-xs"
                    },
                    {
                        data: "Calculation_Date",
                        className: "min-col-xs"
                    },
                     {
                         data: "Applicant_Name",
                         className: "min-col-xs"
                     }, {
                         data: "Applicant_Date",
                         className: "min-col-xs"
                     },{
                         data: "Approver_Name",
                         className: "min-col-xs"
                     }, {
                         data: "Approver_Date",
                         className: "min-col-xs"
                     }
                    ];
                    //治具配件table
                    var funcGetColumns = [
                   {
                       data: null,
                       createdCell: function (td, cellData, rowData, row, col) {

                           var checkbox='<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_Part_Setting_D_UID + '">';
                           var fixturePartUID = '<input type="hidden" name="Fixture_Part_UID" value="' + rowData.Fixture_Part_UID + '">';
                           $(td).html(checkbox + fixturePartUID).addClass('table-col-checkbox');
                       },
                       className: "text-center min-col-xs"
                   },                     {
                       render: function (data, type, full, meta) {

                           return ++meta.row;
                       }
                   }, {
                       data: "Part_ID",
                       className: "min-col-xs"
                   }, {
                       data: "Part_Name",
                       className: "min-col-lg"
                   },  {
                       data: "Part_Spec",
                       className: "min-col-lg"
                   }, ,{
                       data: "Fixture_Part_Qty",
                       render: function (data, type, full, meta) {
                           var html = '<input type="number" name="Fixture_Part_Qty" class="form-control input-sm js-input-function-id" value="' + data + '">';
                           return html;
                       },
                       className: "min-col-lg"
                   },{
                       data: "Fixture_Part_Life",
                       render: function (data, type, full, meta) {
                           var html = '<input type="number" name="Fixture_Part_Life" class="form-control input-sm js-input-function-id" value="' + data + '">';
                           return html;
                       },
                       className: "min-col-lg"
                   },{
                       data: "Is_Enable",
                       render: function (data, type, full, meta) {
                           var html = '<input type="checkbox" name="Is_Enable" class="js-checkbox-isEnable" checked="checked" >';
                           return html;
                       },
                       className: "min-col-lg",
                   }
                    ];

                    //子表编辑
                    var subTableEditColumns = [
                   {
                       data: null,
                       createdCell: function (td, cellData, rowData, row, col) {
                           var checkbox='<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_Part_Demand_D_UID + '">';
                           var demandDUID = '<input type="hidden" name="Fixture_Part_Demand_D_UID" value="' + rowData.Fixture_Part_Demand_D_UID + '">';
                           $(td).html(checkbox + demandDUID).addClass('table-col-checkbox');
                       },
                       className: "text-center min-col-xs"
                   },                     {
                       render: function (data, type, full, meta) {

                           return ++meta.row;
                       }
                   }, {
                       data: "Fixture_NO",
                       className: "min-col-xs"
                   }, {
                       data: "Part_ID",
                       className: "min-col-xs"
                   }, {
                       data: "Part_Name",
                       className: "min-col-lg"
                   },{
                       data: "Part_Spec",
                       className: "min-col-lg"
                   },{
                       data: "Line_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Line_Fixture_Ratio_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Fixture_Part_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Fixture_Part_Life",
                       className: "min-col-lg"
                   },{
                       data: "Gross_Demand",
                       className: "min-col-lg"
                   },{
                       data: "User_Adjustments_Qty",
                       render: function (data, type, full, meta) {
                           var html = '';
                           if (full.Is_Deleted) {
                               html = '<input type="number" name="User_Adjustments_Qty" class="form-control input-sm js-input-function-id" value="' + data + '" disabled="disabled">';
                           }else {
                               html = '<input type="number" name="User_Adjustments_Qty" class="form-control input-sm js-input-function-id" value="' + data + '">';
                           }
                           return html;
                       },
                       className: "min-col-lg"
                   },{
                       data: "Purchase_Cycle",
                       className: "min-col-lg"
                   },{
                       data: "Safe_Storage_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Is_Deleted",
                       render: function (data, type, full, meta) {
                           var html = '';
                           if (data) {
                               html = '<input type="checkbox" name="Is_Deleted" class="js-checkbox-isEnable" checked="checked" >';
                           }else {
                               html = '<input type="checkbox" name="Is_Deleted" class="js-checkbox-isEnable">';
                           }
                           return html;
                       },
                       className: "min-col-lg",
                   }
                    ];

                    //子表编辑
                    var subTableViewColumns = [
                   {
                       data: null,
                       createdCell: function (td, cellData, rowData, row, col) {
                           var checkbox='<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_Part_Demand_D_UID + '">';
                           var demandDUID = '<input type="hidden" name="Fixture_Part_Demand_D_UID" value="' + rowData.Fixture_Part_Demand_D_UID + '">';
                           $(td).html(checkbox + demandDUID).addClass('table-col-checkbox');
                       },
                       className: "text-center min-col-xs"
                   },                     {
                       render: function (data, type, full, meta) {

                           return ++meta.row;
                       }
                   }, {
                       data: "Fixture_NO",
                       className: "min-col-xs"
                   }, {
                       data: "Part_ID",
                       className: "min-col-xs"
                   }, {
                       data: "Part_Name",
                       className: "min-col-lg"
                   },{
                       data: "Part_Spec",
                       className: "min-col-lg"
                   },{
                       data: "Line_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Line_Fixture_Ratio_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Fixture_Part_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Fixture_Part_Life",
                       className: "min-col-lg"
                   },{
                       data: "Gross_Demand",
                       className: "min-col-lg"
                   },{
                       data: "User_Adjustments_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Purchase_Cycle",
                       className: "min-col-lg"
                   },{
                       data: "Safe_Storage_Qty",
                       className: "min-col-lg"
                   },{
                       data: "Is_Deleted",
                       render: function (data, type, full, meta) {
                           var html = '';
                           if (data) {
                               html = '<input type="checkbox" name="Is_Deleted" class="js-checkbox-isEnable" checked="checked"  disabled="disabled">';
                           }else {
                               html = '<input type="checkbox" name="Is_Deleted" class="js-checkbox-isEnable" disabled="disabled">';
                           }
                           return html;
                       },
                       className: "min-col-lg",
                   }
                    ];

                    //#endregion
                    var _getParams = function () {
                        if (buildCriteria) {
                            PDMS.Utility.Settings.Pages.remote.params = $('#js_form_query').serialize().replace(/\+/g, " ");
                            return $('#js_form_query').serialize().replace(/\+/g, " ");}
                        else {
                            return null;
                        }
                    };

                    var _queryFiixturePartSettingMs = function (firstLoad) {

                        var config = {
                            pageId: "#page",
                            tableId: "#js_master_datatable",
                            remoteUrl: urls.queryFixturePartDemandM,
                            searchParams: _getParams(),
                            tableOptions: {
                                scrollX: true,
                                autoWidth: true,
                                columns: columns
                            }
                        };
                        if (!firstLoad) {
                            $('#page').page('destroy');
                        }
                        if (buildCriteria) {
                            PDMS.Utility.Criteria.Build();
                        }
                        PDMS.Utility.Pages.Set(config);
                        $('#js_master_datatable tbody tr td').addClass('text-center');
                    };
                    return {
                        urls: urls,
                        Init: function () {
                            PDMS.Utility.Criteria.Init();
                            _queryFiixturePartSettingMs(true);
                            //  GetOPTypes();
                        },
                        queryFiixturePartSettingMs: function (isSearchBtn) {
                            buildCriteria = (isSearchBtn === true ? true : needBuildCriteria);
                            //if (!buildCriteria) {
                            //    buildCriteria = false;
                            //}
                            _queryFiixturePartSettingMs(false);
                        },
                        GetDatatable: function () {
                            if (subDatatable == null) {
                                subDatatable = $('#js_master_datatable').DataTable({
                                    paging: false,
                                    searching: false,
                                    ordering: false,
                                    retrieve: true,
                                    columns: columns
                                });
                            }
                            return subDatatable;
                        },
                        GetFixtureDataTable: function () {
                            fixtureDataTable = $('#js_sub_table').DataTable({
                                paging: false,
                                searching: false,
                                ordering: false,
                                retrieve: true,
                                columns: funcGetColumns,
                            });
                            return fixtureDataTable;
                        },
                        SetfixtureDataTable: function (datatable) {
                            fixtureDataTable = datatable;
                        },
                        //GetSubDataTableViewEdit:function () {
                        //    subDatataleViewEdit = $('#js_sub_table_viewedit').DataTable({
                        //        paging: false,
                        //        searching: false,
                        //        ordering: false,
                        //        retrieve: true,
                        //        columns: funcGetColumns,
                        //    });
                        //    return subDatataleViewEdit;
                        //},
                        //SetSubDataTableViewEdit:function (datatable) {
                        //    subDatataleViewEdit = datatable;
                        //},
                        GetEditData: function () { return editData },
                        SetEditData: function (editdata) {
                            editData = editdata;
                        },
                        GetSubTableEditDataTable:function () {
                            subDatataleViewEdit = $('#js_sub_table_viewedit').DataTable({
                                paging: false,
                                searching: false,
                                ordering: false,
                                retrieve: true,
                                columns: subTableEditColumns,
                            });
                            return subDatataleViewEdit;
                        },
                        SetSubTableEditDataTable:function (datatable) {
                            subDatataleViewEdit = datatable;
                        },
                        DestroySubTableEditDataTable: function () {
                            if (subDatataleViewEdit != null) {
                                subDatataleViewEdit.destroy();
                            }
                        },
                        FuncGetColumns:{ funcGetColumns: funcGetColumns},
                        SubTableEditColumns: subTableEditColumns,
                        SubTableViewColumns: subTableViewColumns
                    }
                })();
                FixturePartDemand.Init();
                $('#js_form_user_edit').validate({
                    errorContainer: $('ul.validate-error'),
                    errorLabelContainer: $('#js_add_modal ul.validate-error'),
                    wrapper: 'li'
                });

                $('#bt_search').click(function () {
                    $('#js_select_factory_query').trigger('change');
                })
                $('.needint').keydown(function (event) {
                    var value = event.key;
                    if (value.length > 1)
                        return true;
                    if (!((/^(\+|-)?\d+$/.test(value) && value >= 0)))
                        return false;
                })
                //查询按钮
                $('#js_btn_query').click(function () {

                    if ($('#js_form_query').valid()) {
                        FixturePartDemand.queryFiixturePartSettingMs(true);
                        $('#js_search_modal').modal('hide');
                        // $('#js_btn_query')
                    }
                });

                $('#js_select_factory_query,#js_select_optype_query,#js_select_funplant_query,#js_input_Fixture_NO_query').selectpicker({ 'selectedText': 'cat' });

                //查询界面厂区是OP类型变化
                $('#js_select_factory_query').change(function () {
                    GetOPTypes();
                    Setsearchbtn();
                })

                function GetOPTypes() {

                    var oporgid = $('#js_select_factory_query option:selected').val();
                    url = FixturePartDemand.urls.getCurrentOPType;
                    $('#js_select_optype_query').html('<option></option>');
                    $('#js_select_optype_query').selectpicker('refresh');
                    $('#js_select_funplant_query').html('<option></option>');
                    $('#js_select_funplant_query').selectpicker('refresh');

                    if (oporgid != 0) {
                        //设置OP
                        $.post(url, { plant_OrganizationUID: oporgid }, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if ($('#js_select_optype_query').find('option[value=' + data[i].Organization_UID + ']').length == 0) {
                                    if(@Model.OptypeID!=0)
                                    {
                                        if(@Model.OptypeID==data[i].Organization_UID )
                                        {
                                            $('#js_select_optype_query').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                                            // $('#js_select_optype_query').selectpicker('refresh');
                                        }
                                    }else
                                    {
                                        $('#js_select_optype_query').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                                        //  $('#js_select_optype_query').selectpicker('refresh');
                                    }
                                }
                            }
                            $('#js_select_optype_query').selectpicker('refresh');
                        });

                    }
                }
                //OP类型变更  start
                $('#js_select_optype_query').change(function () {
                    var url = FixturePartDemand.urls.getFunPlantByOPTypes;
                    $('#js_select_funplant_query').html('<option></option>');
                    $('#js_select_funplant_query').selectpicker('refresh');

                    if ($('#js_select_optype_query option:selected').text() != "") {
                        //设置功能厂
                        $.post(url, { Optype: $('#js_select_optype_query').val() }, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if(@Model.FunPlantID!=0)
                                {
                                    if(@Model.FunPlantID==data[i].FunPlant_OrganizationUID )
                                    {
                                        $('#js_select_funplant_query').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                                        // $('#js_select_funplant_query').selectpicker('refresh');
                                    }
                                }else
                                {
                                    $('#js_select_funplant_query').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                                    //$('#js_select_funplant_query').selectpicker('refresh');
                                }
                            }
                            $('#js_select_funplant_query').selectpicker('refresh');
                        });

                    }
                });

                //[Fixture_Part_Demand_D 过滤
                $('#demandM-filter input').change(function () {
                    debugger;
                    //过滤
                    var fixtureNo = $('#demandM-filter input[name="Fixture_No"]').val();
                    var partID = $('#demandM-filter input[name="Part_ID"]').val();
                    var partName = $('#demandM-filter input[name="Part_Name"]').val();
                    var partSpec = $('#demandM-filter input[name="Part_Spec"]').val();
                    var filteredData = DEMAND_D_DATA().filter();
                    if (fixtureNo!='') {
                        filteredData=filteredData.filter({Fixture_NO:{like:fixtureNo}});
                    }
                    if (partID!='') {
                        filteredData=filteredData.filter({Part_ID:{like:partID}});
                    }
                    if (partName!='') {
                        filteredData=filteredData.filter({Part_Name:{like:partName}});
                    }
                    if (partSpec!='') {
                        filteredData=filteredData.filter({Part_Spec:{like:partSpec}});
                    }
                    var filterJson = filteredData.stringify();
                    var filterArray=$.parseJSON(filterJson);

                    FixturePartDemand.GetSubTableEditDataTable().clear().draw();
                    if (isEdit) {
                        var subTable = $('#js_sub_table_viewedit').DataTable({
                            columns: FixturePartDemand.SubTableEditColumns,
                            ordering: false,
                            data: filterArray,
                            destroy: true
                        });
                        setIsDeletedChange();
                        setUserAdjustmentQtyChange();
                    }else {
                        var subTable = $('#js_sub_table_viewedit').DataTable({
                            columns: FixturePartDemand.SubTableViewColumns,
                            ordering: false,
                            data: filterArray,
                            destroy: true
                        });
                    }

                });

                function Setsearchbtn(){
                    $('#js_search_modal').find('input[name=Fixture_NO]').val("");
                    $('#js_search_modal').find('input[name=Version]').val("");
                    $('#js_search_modal').find('input[name=Created_Date]').val("");
                    $('#js_search_modal').find('input[name=Modified_UID]').val("");
                    $('#js_search_modal').find('input[name=End_Date_From]').val("");
                    $('#js_search_modal').find('input[name=End_Date_To]').val("");
                }

                //新增按钮//OP类型变更  end
                $('#js_btn_Add').click(function () {

                    $("#js_sub_table  tr:not(:first)").empty("");
                    editData=null;
                    fixtureDataTable=null;
                    FixturePartDemand.SetfixtureDataTable(null);
                    FixturePartDemand.SetEditData(null);

                    var dataTable=FixturePartDemand.GetFixtureDataTable();
                    dataTable.clear().draw();

                    FixturePartDemand.GetFixtureDataTable().clear().draw();

                    dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        dataTable.cell(rowIdx, 1).data(rowIdx + 1).draw()
                    });

                    $('#js_add_modal').modal('hide');
                    $('#js_add_modal').modal('show', $(this));
                    $('#js_select_factory_add').trigger('change');
                    $('#js_add_modal').find("input").val('');
                });

                //查询界面厂区是OP类型变化
                $('#js_select_factory_add').change(function () {
                    GetOPTypesadd();
                    refreshFixturePartSelectAdd();
                });

                //治具料号模糊查询(新增)
                $('#js_input_Part_ID').change(function () {
                    refreshFixturePartSelectAdd();
                });

                //品名模糊查询(新增)
                $('#js_input_Part_Name').change(function () {
                    refreshFixturePartSelectAdd();
                });

                //型号模糊查询(新增)
                $('#js_input_Part_Spec').change(function () {
                    refreshFixturePartSelectAdd();
                });

                //治具料号模糊查询(编辑)
                $('#js_input_viewedit_Part_ID').change(function () {
                    refreshFixturePartSelectEdit();
                });

                //品名模糊查询(编辑)
                $('#js_input_viewedit_Part_Name').change(function () {
                    refreshFixturePartSelectEdit();
                });

                //型号模糊查询(编辑)
                $('#js_input_viewedit_Part_Spec').change(function () {
                    refreshFixturePartSelectEdit();
                });

                function GetOPTypesadd() {
                    var oporgid = $('#js_select_factory_add option:selected').val();
                    url = FixturePartDemand.urls.getCurrentOPType;
                    $('#js_select_optype_add').html('<option></option>');
                    $('#js_select_optype_add').selectpicker('refresh');
                    $('#js_select_funplant_add').html('<option></option>');
                    $('#js_select_funplant_add').selectpicker('refresh');
                    $('#js_select_Group_add').html('<option></option>');
                    $('#js_select_Group_add').selectpicker('refresh');
                    if (oporgid != 0) {
                        //设置OP
                        $.post(url, { plant_OrganizationUID: oporgid }, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if ($('#js_select_optype_add').find('option[value=' + data[i].Organization_UID + ']').length == 0) {
                                    if(@Model.OptypeID!=0)
                                    {
                                        if(@Model.OptypeID==data[i].Organization_UID )
                                        {
                                            $('#js_select_optype_add').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                                            $('#js_select_optype_add').selectpicker('refresh');
                                        }
                                    }else
                                    {
                                        $('#js_select_optype_add').append('<option value="' + data[i].Organization_UID + '">' + data[i].OP_TYPES + '</option>');
                                        $('#js_select_optype_add').selectpicker('refresh');
                                    }
                                }
                            }
                        });
                    }
                }
                //OP类型变更  start
                $('#js_select_optype_add').change(function () {

                    var url = FixturePartDemand.urls.getFunPlantByOPTypes;
                    $('#js_select_funplant_add').html('<option></option>');
                    $('#js_select_funplant_add').selectpicker('refresh');
                    $('#js_select_Group_add').html('<option></option>');
                    $('#js_select_Group_add').selectpicker('refresh');
                    if ($('#js_select_optype_add option:selected').text() != "") {
                        //设置功能厂
                        $.post(url, { Optype: $('#js_select_optype_add option:selected').val() }, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if(@Model.FunPlantID!=0)
                                {
                                    if(@Model.FunPlantID==data[i].FunPlant_OrganizationUID )
                                    {
                                        $('#js_select_funplant_add').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                                        $('#js_select_funplant_add').selectpicker('refresh');
                                    }
                                }else
                                {
                                    $('#js_select_funplant_add').append('<option value="' + data[i].FunPlant_OrganizationUID + '">' + data[i].FunPlant + '</option>');
                                    $('#js_select_funplant_add').selectpicker('refresh');
                                }
                            }
                        });
                        var oporgid = $('#js_select_factory_add option:selected').val();
                        var opTypeUid =$('#js_select_optype_add option:selected').val();

                        if (opTypeUid=="" ||opTypeUid==undefined) {
                            opTypeUid=0;
                        }
                        $.post(FixturePartDemand.urls.defectCode_GroupList, { Plant_Organization_UID: oporgid ,BG_Organization_UID:opTypeUid,FunPlant_Organization_UID:0}, function (data) {
                            for (var i = 0; i < data.length; i++) {

                                $('#js_select_Group_add').append('<option value="' + data[i].DefectCode_Group_ID + '">' + data[i].DefectCode_Group_Name + '</option>');

                            }
                            $('#js_select_Group_add').selectpicker('refresh');
                        });
                    }

                    //刷新治具编号
                    //refreshFixturePartNOAdd();

                    //刷新配件列表
                    refreshFixturePartSelectAdd();
                })

                $('#js_select_funplant_add').change(function () {
                    //$('#js_select_Group_add').html('<option></option>');
                    //$('#js_select_Group_add').selectpicker('refresh');
                    //刷新治具编号
                    //refreshFixturePartNOAdd();

                    //url=FixturePartDemand.urls.defectCode_GroupList;
                    //$.post(url, { Plant_Organization_UID: oporgid ,BG_Organization_UID:$('#js_select_optype_add option:selected').val(),FunPlant_Organization_UID:$('#js_select_funplant_add option:selected').val()}, function (data) {
                    //    for (var i = 0; i < data.length; i++) {
                    //        $('#js_select_Group_add').append('<option value="' + data[i].DefectCode_Group_ID + '">' + data[i].DefectCode_Group_Name + '</option>');

                    //    }
                    //    $('#js_select_Group_add').selectpicker('refresh');
                    //});
                });

                //刷新治具图号,新增
                function refreshFixturePartNOAdd(){
                    var oporgid = $('#js_select_factory_add option:selected').val();
                    var opTypeUid =$('#js_select_optype_add option:selected').val();
                    if (opTypeUid=="" ||opTypeUid==undefined) {
                        return;
                    }
                    var funUid = $('#js_select_funplant_add option:selected').val();
                    if (funUid=="" ||funUid==undefined) {
                        funUid=0;
                    }
                    //设置治具编号
                    var arr = new Array();
                    $.post(FixturePartDemand.urls.fixtureList, { Plant_Organization_UID: oporgid ,BG_Organization_UID:opTypeUid,FunPlant_Organization_UID:funUid}, function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var isRepeated = false;
                            $.each(arr,function (index,item) {
                                if(item == data[i].Fixture_NO){
                                    isRepeated=true;
                                }
                            });
                            if (!isRepeated) {
                                arr.push(data[i].Fixture_NO);
                            }
                        }
                    });
                }

                function SetEdit() {
                    $('#js_select_optype_add').html('<option></option>');
                    $('#js_select_optype_add').selectpicker('refresh');
                    //加载功能厂
                    $('#js_select_funplant_add').html('<option></option>');
                    $('#js_select_funplant_add').selectpicker('refresh');
                    //治具编号
                    $('#js_add_modal').find('input[name=Fixture_NO]').val("");
                    //版本
                    $('#js_add_modal').find('input[name=Version]').val("");

                }

                //新增治具配件需求(新增)
                $('#js_btn_FixturePart_add').on('click', function () {
                    //获取选中的配件
                    var fixturePartSelected = $('#js_select_add_Fixture_Part option:selected');
                    if (fixturePartSelected[0].value == '') {
                        PDMS.Utility.MessageBox.info('请先选择要添加的治具配件.');
                        allowAdd = false;
                        return;
                    }
                    var Fixture_Part_UID=fixturePartSelected.attr('data_Fixture_Part_UID');
                    var Part_ID = fixturePartSelected.attr('data_Part_ID');
                    var Part_Name = fixturePartSelected.attr('data_Part_Name');
                    var Part_Spec = fixturePartSelected.attr('data_Part_Spec');

                    var dataTable = FixturePartDemand.GetFixtureDataTable();
                    var allowAdd = true;

                    dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        //验证配比数量，使用寿命
                        for (var i = 5; i <= 6; i++) {
                            var val =$($(dataTable.cell(rowIdx, i).node())[0]).find('input').val();
                            if (val == ""||val==undefined) {
                                PDMS.Utility.MessageBox.info('请先完成第'+(rowIdx+1)+'行[配件配比][使用寿命]，才能新增数据.');
                                allowAdd = false;
                                return;
                            }
                        }
                        //验证料号有没重复的
                        var partID = $(dataTable.cell(rowIdx, 2).node())[0].innerText;
                        if (partID == Part_ID) {
                            PDMS.Utility.MessageBox.info('不可添加重复的配件.');
                            allowAdd = false;
                            return;
                        }
                    });
                    if (allowAdd) {
                        var row = dataTable.row.add({
                            "Fixture_Part_UID":Fixture_Part_UID,
                            "Part_ID": Part_ID,
                            "Part_Name": Part_Name ,
                            "Part_Spec": Part_Spec,
                            //"Fixture_Part_Qty":4,
                            //"Fixture_Part_Life":1,
                            "Is_Enable": true
                        }).draw();

                        $(row.node()).find('input[name=DefectCode_ID]').removeAttr("disabled");

                    }
                });

                //删除配件按钮(新增)
                $('#js_btn_FixturePart_delete').on('click', function () {

                    var dataTable = FixturePartDemand.GetFixtureDataTable();

                    var $checkedItems = $('#js_sub_table .js-checkbox-item:checked');

                    if ($checkedItems.length == 0) {

                        PDMS.Utility.MessageBox.info("请选择需要删除的行。");
                        return;

                    } else {
                        $.map($checkedItems, function (checkbox) {
                            var $sender = $(checkbox);
                            var systemFuncUId = $sender.val();
                            var $tr = $sender.closest('tr');
                            var trIndex = $tr.index();
                            var editData = FixturePartDemand.GetFixtureDataTable();

                            if (systemFuncUId > 0) {
                                //这是是编辑的时候用于删除的。
                                $.get(FixturePartDemand.urls.deleteFixtureDefectCode_SettingByID
                                    , { uid: systemFuncUId }
                                    , function (data) {
                                        if (data != "SUCCESS") {
                                            PDMS.Utility.MessageBox.error(data);
                                        } else {
                                            dataTable.row($tr).remove().draw();
                                            editData.splice(trIndex, 1);
                                            //FixturePartDemand.GetFixtureDataTable().clear().draw();
                                        }
                                    });//end get

                            } else {
                                dataTable.row($tr).remove().draw();
                                if (trIndex < editData.length) {
                                    editData.splice(trIndex, 1);
                                }
                            }

                        });

                        dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                            dataTable.cell(rowIdx, 1).data(rowIdx + 1).draw()
                        });
                    }
                });

                //保存
                $('#js_btn_save_add').click(function () {
                    if ($('#js_select_factory_add option:selected').text() == "") {
                        PDMS.Utility.MessageBox.info('请选择[厂区]');
                        return false;
                    }
                    if ($('#js_select_optype_add option:selected').text() == "") {
                        PDMS.Utility.MessageBox.info('请选择[OP类型]');
                        return false;
                    }
                    //获取厂区 , BG, 功能厂，异常群组代码，异常群组名称。
                    var plant_Organization_UID= $('#js_select_factory_add option:selected').val();
                    var bG_Organization_UID=$('#js_select_optype_add option:selected').val()
                    var funPlant_Organization_UID= $('#js_select_funplant_add option:selected').val();
                    if(funPlant_Organization_UID=="")
                    {
                        funPlant_Organization_UID=null;
                    }
                    var demandDateVal = $('#js_input_Calculation_Date_add').val();
                    if (demandDateVal=="" ||demandDateVal == undefined) {
                        PDMS.Utility.MessageBox.info('请选择[需求日期]');
                        return false;
                    }else{
                        //需求日期不能早于当前日期
                        var currentDate = new Date((new Date()).toLocaleDateString());
                        var demandDate = new Date(demandDateVal);
                        if(demandDate < currentDate){
                            PDMS.Utility.MessageBox.info('[需求日期]'+demandDate.toLocaleDateString()+' 不能早于当前日期'+currentDate.toLocaleDateString());
                            return false;
                        }
                    }
                    $.get(FixturePartDemand.urls.addFixturePartDemand, { Plant_Organization_UID:plant_Organization_UID, BG_Organization_UID:bG_Organization_UID,FunPlant_Organization_UID:funPlant_Organization_UID,Demand_Date:demandDateVal}, function (data) {
                        if (data == 'EXIST') {
                            PDMS.Utility.MessageBox.error("新增治具配件需求[需求日期]重复");
                        }
                        else if (data == true) {
                            $('#js_add_modal').modal('hide');
                            FixturePartDemand.queryFiixturePartSettingMs(true);
                            PDMS.Utility.MessageBox.info("新增成功!",function myfunction() {
                                window.location.reload();
                            });
                        } else {
                            PDMS.Utility.MessageBox.error(data);
                        }
                    });
                });

                //编辑保存
                $('#js_btn_save_edit_setting').click(function () {
                    var jsonData = DEMAND_D_DATA().stringify();
                    //var demandDs=$.parseJSON(jsonData);
                    if (jsonData!='' && jsonData!='[]') {
                        $.post(FixturePartDemand.urls.editFixturePartDemand, {json:jsonData}, function (data) {
                            debugger;
                            if (data == true) {
                                //PDMS.Utility.MessageBox.info("新增治具配件需求成功", function () {
                                //    window.location.reload();
                                //});
                                //$('#js_edit_modal').modal('hide');
                                //FixturePartDemand.queryFiixturePartSettingMs(true);
                                PDMS.Utility.MessageBox.info("编辑成功!");
                            } else {
                                PDMS.Utility.MessageBox.error(data);
                            }
                        });
                    }
                });

                //保存并上传，状态更新为待审核
                $('#js_btn_save_submit').click(function () {
                    var jsonData = DEMAND_D_DATA().stringify();
                    //var demandDs=$.parseJSON(jsonData);
                    //先保存
                    if (jsonData!='' && jsonData!='[]') {
                        $.post(FixturePartDemand.urls.editFixturePartDemand, {json:jsonData}, function (data) {
                            debugger;
                            if (data == true) {
                                //再上传
                                var deamndMUID = $("#Fixture_Part_Demand_M_UID").val();
                                $.get(FixturePartDemand.urls.submitFixturePartDemand, { Fixture_Part_Demand_M_UID: deamndMUID}, function (data) {
                                    if (data==true) {
                                        $('#js_edit_modal').modal('hide');
                                        PDMS.Utility.MessageBox.info("提交成功，状态更新为:待审核。",function () {
                                            window.location.reload();
                                        });
                                    }else {
                                        PDMS.Utility.MessageBox.info("提交失败!");
                                    }
                                });
                            } else {
                                PDMS.Utility.MessageBox.error(data);
                            }
                        });
                    }else {
                        PDMS.Utility.MessageBox.info("没有要提交的数据。");
                    }
                });

                //导出按钮
                $('#js_btn_delete').click(function () {
                    var $selectList = $('#js_master_datatable').find('.js-checkbox-item:checked');
                    var len = $selectList.length;
                    if (len == 0) {
                        PDMS.Utility.MessageBox.info('请选择要删除的数据!');
                    } else {

                        PDMS.Utility.MessageBox.confirm("确定要删除?", function () {
                            var url = FixturePartDemand.urls.deleteFixtureDefectCode_SettingByID;
                            var Fixture_Part_Demand_M_UIDs = $.map($selectList, function (row) {
                                return row.value;
                            });
                            $.post(url, { Fixture_Part_Demand_M_UIDs: Fixture_Part_Demand_M_UIDs.toString() }, function (data) {

                                FixturePartDemand.queryFiixturePartSettingMs();
                                PDMS.Utility.MessageBox.info(data);
                            });
                        });

                    }
                });

                //点击删除
                $('body').on('click', '.js-grid-delete', function () {
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    debugger;
                    var demandDate = $(this).attr('data-demandDate');
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要删除需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.deleteFixturePartDemandMByUID;
                        $.post(url, { uid: Fixture_Part_Demand_M_UID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("删除成功,状态更新为:已删除。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("删除失败!");
                            }
                            //FixturePartDemand.queryFiixturePartSettingMs();
                        });
                    });
                });

                //点击提交
                $('body').on('click', '.js-grid-submit', function () {
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    debugger;
                    var demandDate = $(this).attr('data-demandDate');
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要提交需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.submitFixturePartDemand;
                        $.get(url, { Fixture_Part_Demand_M_UID: Fixture_Part_Demand_M_UID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("提交成功,状态更新为:待审核。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("提交失败!");
                            }
                            //FixturePartDemand.queryFiixturePartSettingMs();
                        });
                    });
                });

                //点击审核
                $('body').on('click', '.js-grid-approve', function () {
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    debugger;
                    var demandDate = $(this).attr('data-demandDate');
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要审核需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.approveFixturePartDemandByUID;
                        $.post(url, { uid: Fixture_Part_Demand_M_UID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("审核成功,状态更新为:已审核,并汇总需求计算。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("审核失败!");
                            }
                            //FixturePartDemand.queryFiixturePartSettingMs();
                        });
                    });
                });

                //点击审核取消
                $('body').on('click', '.js-grid-approve-cancel', function () {
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    debugger;
                    var demandDate = $(this).attr('data-demandDate');
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要审核取消需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.approveCancelFixturePartDemandByUID;
                        $.post(url, { uid: Fixture_Part_Demand_M_UID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("审核取消成功,状态更新为:审核取消。若有未审核的需求汇总，则已经删除。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("审核取消失败!");
                            }
                            //FixturePartDemand.queryFiixturePartSettingMs();
                        });
                    });
                });

                //导出
                $('#js_btn_export').click(function () {
                    var $selectList = $('#js_sub_table_viewedit').find('.js-checkbox-item:checked');
                    var len = $selectList.length;
                    var deamndMUID = $("#Fixture_Part_Demand_M_UID").val();
                    if (len == 0) {
                        //全部导出
                        var url = FixturePartDemand.urls.doAllExportDemandD;
                        //获取过滤条件
                        var fixtureNo = $('#demandM-filter input[name="Fixture_No"]').val();
                        var partID = $('#demandM-filter input[name="Part_ID"]').val();
                        var partName = $('#demandM-filter input[name="Part_Name"]').val();
                        var partSpec = $('#demandM-filter input[name="Part_Spec"]').val();
                        url += '?Fixture_Part_Demand_M_UID=' + deamndMUID + '&Fixture_NO=' + fixtureNo + '&Part_ID=' + partID + '&Part_Name=' + partName + '&Part_Spec=' + partSpec;
                        window.location.href = url;

                        //  PDMS.Utility.MessageBox.info('请选择要导出的数据！');
                    } else {
                        var Fixture_Part_Demand_M_UIDs = $.map($selectList, function (row) {
                            return row.value;
                        });
                        $('table').find('.js-checkbox-all,.js-checkbox-item').prop('checked', false);
                        var url = FixturePartDemand.urls.doSelectedExportDemandD;
                        url += "?Fixture_Part_Demand_M_UID="+deamndMUID+"&uids=" + Fixture_Part_Demand_M_UIDs.toString();
                        window.location.href = url;
                    }
                });

                //审核
                $('#js_btn_approve').click(function () {
                    var deamndMUID = $("#Fixture_Part_Demand_M_UID").val();
                    debugger;
                    var demandDate = $("#js_td_demandDate").text();
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要审核需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.approveFixturePartDemandByUID;
                        $.post(url, { uid: deamndMUID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("审核成功,状态更新为:已审核。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("审核失败!");
                            }
                        });
                    });
                });

                //审核取消
                $('#js_btn_approve_cancel').click(function () {
                    var deamndMUID = $("#Fixture_Part_Demand_M_UID").val();
                    var demandDate = $("#js_td_demandDate").text();
                    demandDate=demandDate.substr(0,10);
                    PDMS.Utility.MessageBox.confirm("确定要审核取消需求日期为["+demandDate+"]的数据吗?", function () {
                        var url = FixturePartDemand.urls.approveCancelFixturePartDemandByUID;
                        $.post(url, { uid: deamndMUID }, function (data) {
                            if (data==true) {
                                PDMS.Utility.MessageBox.info("审核取消成功,状态更新为:审核取消。",function () {
                                    window.location.reload();
                                });
                            }else {
                                PDMS.Utility.MessageBox.info("审核取消失败!");
                            }
                        });
                    });
                });

                //点击编辑的时候的加载的界面
                $('#js_select_DefectCode_ID_viewedit').on('blur',  function () {

                    if ($("#js_select_DefectCode_ID_viewedit").val()=="")
                    {
                        PDMS.Utility.MessageBox.info('请填写异常原因编码');
                        return false;
                    }
                    var  DefectCode_ID=$("#js_select_DefectCode_ID_viewedit").val();
                    $.get(FixturePartDemand.urls.addFixturePartDemand, { DefectCode_ID: DefectCode_ID,Plant_Organization_UID:plant_OrganizationUID, BG_Organization_UID:bG_Organization_UID}, function (data) {

                        if(data!=null)
                        {
                            if (data.Fixture_Defect_UID === 0) {
                                PDMS.Utility.MessageBox.error('没有对应的异常原因编码"' + DefectCode_ID + '" ');
                                return false;
                            }
                            if (data.DefectCode_Name === null || $.trim(data.DefectCode_Name) === '') {
                                PDMS.Utility.MessageBox.error('此治具异常原因不能新增！');
                                return false;
                            }

                            $("#js_select_DefectCode_Name_viewedit").val(data.DefectCode_Name);


                        }else
                        {
                            PDMS.Utility.MessageBox.error('没有找到对应的治具异常原因');
                            return;
                        }
                    });
                });

                //弹出详情页面
                $('body').on('click', '.js-grid-view', function () {
                    isEdit=false;
                    //详情页隐藏保存、提交
                    $("#js_btn_save_edit_setting").hide();
                    $("#js_btn_save_submit").hide();

                    $("#detail-title")[0].innerText="详情";

                    $('#js_edit_modal').modal('show', $(this));
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    //保存uid
                    $("#Fixture_Part_Demand_M_UID").val(Fixture_Part_Demand_M_UID);
                    var url = FixturePartDemand.urls.getFixturePartDemandMByUID;
                    $.post(url, { uid: Fixture_Part_Demand_M_UID }, function (data) {

                        $('#js_td_factory').text(data.Plant_Organization_Name);
                        $('#js_td_op').text(data.BG_Organization_Name);
                        $('#js_td_func').val(data.FunPlant_Organization_Name);
                        $('#js_td_status').text(data.StatusName);
                        $('#js_td_demandDate').text(data.Demand_Date);
                        $('#js_td_calculateDate').text(data.Calculation_Date);
                        $('#js_td_appliantUID').text(data.Applicant_Name);
                        $('#js_td_applyDate').text(data.Applicant_Date);
                        $('#js_td_appoverUID').text(data.Approver_Name);
                        $('#js_td_appoveDate').text(data.Approver_Date);

                        $('#js_edit_modal').find('input[name=Line_Qty]').val(data.Line_Qty);
                        $('#js_edit_modal').find('input[name=Line_Fixture_Ratio_Qty]').val(data.Line_Fixture_Ratio_Qty);
                        $('#js_edit_modal').find('input[name=Fixture_Part_Demand_M_UID]').val(data.Fixture_Part_Demand_M_UID);

                        //根据当前状态控制按钮显示
                        $("#js_btn_save_submit").hide();
                        $("#js_btn_approve").hide();
                        $("#js_btn_approve_cancel").hide();
                        if (data.StatusName == "未审核" || data.StatusName == "审核取消") {
                            $("#js_btn_save_submit").show();
                        }else if (data.StatusName == "待审核") {
                            $("#js_btn_approve").show();
                        }else if (data.StatusName == "已审核") {
                            $("#js_btn_approve_cancel").show();
                        }

                        var subTable = $('#js_sub_table_viewedit').DataTable({
                            columns: FixturePartDemand.SubTableViewColumns,
                            ordering: false,
                            data: data.Fixture_Part_Demand_DDTOList,
                            destroy: true
                        });
                        FixturePartDemand.SetSubTableEditDataTable(subTable);

                        //setIsDeletedChange();
                        //setUserAdjustmentQtyChange();

                        //初始化taffy 变量
                        DEMAND_D_DATA = TAFFY(data.Fixture_Part_Demand_DDTOList);
                    });
                });

                //弹出编辑界面
                $('body').on('click', '.js-grid-edit', function () {
                    isEdit=true;
                    $("#js_btn_save_edit_setting").show();
                    $("#js_btn_save_submit").show();
                    //subDatataleViewEdit=null;
                    //FixturePartDemand.SetSubDataTableViewEdit(null);
                    $("#detail-title")[0].innerText="编辑";
                    $('#js_edit_modal').modal('show', $(this));
                    var Fixture_Part_Demand_M_UID = $(this).attr('data-id');
                    //保存uid
                    $("#Fixture_Part_Demand_M_UID").val(Fixture_Part_Demand_M_UID);
                    var url = FixturePartDemand.urls.getFixturePartDemandMByUID;
                    $.post(url, { uid: Fixture_Part_Demand_M_UID }, function (data) {

                        $('#js_td_factory').text(data.Plant_Organization_Name);
                        $('#js_td_op').text(data.BG_Organization_Name);
                        $('#js_td_func').val(data.FunPlant_Organization_Name);
                        $('#js_td_status').text(data.StatusName);
                        $('#js_td_demandDate').text(data.Demand_Date);
                        $('#js_td_calculateDate').text(data.Calculation_Date);
                        $('#js_td_appliantUID').text(data.Applicant_Name);
                        $('#js_td_applyDate').text(data.Applicant_Date);
                        $('#js_td_appoverUID').text(data.Approver_Name);
                        $('#js_td_appoveDate').text(data.Approver_Date);

                        $('#js_edit_modal').find('input[name=Line_Qty]').val(data.Line_Qty);
                        $('#js_edit_modal').find('input[name=Line_Fixture_Ratio_Qty]').val(data.Line_Fixture_Ratio_Qty);

                        $('#js_edit_modal').find('input[name=Fixture_Part_Demand_M_UID]').val(data.Fixture_Part_Demand_M_UID);

                        var subTable = $('#js_sub_table_viewedit').DataTable({
                            columns: FixturePartDemand.SubTableEditColumns,
                            ordering: false,
                            data: data.Fixture_Part_Demand_DDTOList,
                            destroy: true
                        });
                        FixturePartDemand.SetSubTableEditDataTable(subTable);

                        setIsDeletedChange();
                        setUserAdjustmentQtyChange();

                        //初始化taffy 变量
                        DEMAND_D_DATA = TAFFY(data.Fixture_Part_Demand_DDTOList);
                    });
                });

                //实时更新Is_Deleted, 并设置User_Adjustments_Qty为disabled
                function setIsDeletedChange() {
                    $('#js_sub_table_viewedit input[name="Is_Deleted"]').change(function () {
                        var deamndDUID=$(this).parents("tr").find("input[name='Fixture_Part_Demand_D_UID']").val();
                        if ($(this).is(":checked")) {
                            $(this).parents("tr").find("input[name='User_Adjustments_Qty']").attr("disabled","disabled");
                            DEMAND_D_DATA({ Fixture_Part_Demand_D_UID: parseInt(deamndDUID) }).update({ Is_Deleted: true });
                        }else {
                            $(this).parents("tr").find("input[name='User_Adjustments_Qty']").removeAttr("disabled");
                            DEMAND_D_DATA({ Fixture_Part_Demand_D_UID: parseInt(deamndDUID) }).update({ Is_Deleted: false });
                        }
                    });
                }

                //实时更新User_Adjustments_Qty
                function setUserAdjustmentQtyChange() {
                    $('#js_sub_table_viewedit input[name="User_Adjustments_Qty"]').change(function () {
                        debugger;
                        var adjustQty =$(this).val();
                        var deamndDUID=$(this).parents("tr").find("input[name='Fixture_Part_Demand_D_UID']").val();//$(this).attr("data-id");
                        DEMAND_D_DATA({ Fixture_Part_Demand_D_UID: parseInt(deamndDUID) }).update({ User_Adjustments_Qty: adjustQty });
                    });
                }

                $('#js_btn_save_new').on('click', function () {
                    $('#js_form_user_edit').ajaxSubmit({
                        beforeSubmit: function () {
                            if ($('#js_edit_modal').find('input[name=Fixture_NO]').val() == "") {
                                PDMS.Utility.MessageBox.info('请填治具编号');
                                return false;
                            }
                            if ($('#js_edit_modal').find('input[name=DefectCode_ID]').val() == "") {
                                PDMS.Utility.MessageBox.info('请填异常编码');
                                return false;
                            }
                        },
                        success: function (data) {
                            if (data.length > 2) {
                                PDMS.Utility.MessageBox.info(data);
                            }
                            else {
                                $('#js_edit_modal').modal('hide');
                                FixturePartDemand.queryFiixturePartSettingMs(true);
                                PDMS.Utility.MessageBox.info('更新成功');
                            }
                        }
                    });
                });

                $('#js_import_modal').on('hidden.bs.modal', function (e) {
                    $('#js_import_modal').find('input').val('');
                });

                //刷新配件列表(新增)
                function refreshFixturePartSelectAdd() {
                    $('#js_select_add_Fixture_Part').empty();
                    $('#js_select_add_Fixture_Part').html('<option></option>');

                    var opTypeUid = $('#js_select_optype_add').val();
                    if (opTypeUid != "" && opTypeUid != undefined) {
                        var funcPlantUid = $('#js_select_funplant_add').val();
                        if (funcPlantUid == "" || funcPlantUid == undefined) {
                            funcPlantUid = 0;
                        }

                        var partID = $('#js_input_Part_ID').val();
                        var partName = $('#js_input_Part_Name').val();
                        var partSpec = $('#js_input_Part_Spec').val();

                        var url = FixturePartDemand.urls.queryAllFixutreParts;
                        $.post(url, { Plant_Organization_UID: $('#js_select_factory_add option:selected').val(), BG_Organization_UID: opTypeUid, FunPlant_Organization_UID: funcPlantUid, Part_ID:partID, Part_Name: partName, Part_Spec:partSpec}, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                $('#js_select_add_Fixture_Part').append('<option value="' + data[i].Fixture_Part_UID + '" data_Fixture_Part_UID="' + data[i].Fixture_Part_UID + '" data_Part_ID="' + data[i].Part_ID + '" data_Part_Name="'+data[i].Part_Name+'" data_Part_Spec="'+data[i].Part_Spec+'">' + data[i].Part_ID + ' ' + data[i].Part_Name + '</option>');
                            }
                        });
                    }
                    $('#js_select_add_Fixture_Part').selectpicker('refresh');
                }
            });
        </script>
    </div>

}