<!-- Main content -->
<section class="content portal-content">

    <!--次標題 與 搜尋-->
    <div class="row">
        <!--次標題與Search keyword-->
        <div class="col-md-12 col-lg-9">
            <h4 class="margin-td-5" id="js_search_keywords"></h4>
        </div><!-- /col-次標題與Search keyword -->
        <!--col-右方搜尋與功能按鈕列-->
        <div class="col-md-12 search-field col-lg-3">
            <a class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#js_search_modal"><i class="fa fa-search"></i> Search</a>
            <a class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#js_edit_modal" id="js_btn_add_plant">
                <i class="fa fa-plus"></i> Add
            </a>
            <a id="js_btn_export" class="btn btn-primary btn-sm" role="button">
                <i class="glyphicon glyphicon-save"></i> Export
            </a>
        </div><!-- /col-右方搜尋與功能按鈕列-->
    </div><!--/次標題 與 搜尋-->
    <hr class="hr-custom">

    <!--row Search Keyword collapse-->
    <div class="row">
        <div id="js_criteria_alert_cnt">
        </div>
    </div> <!--/row Search Keyword collapse-->
    <!--內容 表格列-->
    <div class="row">
        <!--表格-->
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_plant_datatable">
                <thead>
                    <tr>
                        <th class="table-col-checkbox nosort">
                            <input type="checkbox" class="js-checkbox-all" />
                        </th>
                        <th class="table-col-action nosort">Action</th>
                        <th class="table-col-seq nosort">Seq</th>
                        <th>Plant</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Plant Code</th>
                        <th>Plant Name(ZH)</th>
                        <th>PlantManager Name</th>
                        <th>PlantManagerTel</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Modified User</th>
                        <th>Modified Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-checkbox nosort"></th>
                        <th class="table-col-action nosort">Action</th>
                        <th class="table-col-seq nosort">Seq</th>
                        <th>Plant</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Plant Code</th>
                        <th>Plant Name(ZH)</th>
                        <th>PlantManager Name</th>
                        <th>PlantManagerTel</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Modified User</th>
                        <th>Modified Date</th>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" name="System_edit_id" id="js_hidden_edit_id" value="0" />
            <div id="page" class="row"></div>

        </div><!--/表格-->
    </div><!-- / 內容 表格列 -->


</section><!-- /.content -->
@section ViewModals{
    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Search</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <form id="js_form_query" data-need-validate="true">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_plant">Plant</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Plant" class="form-control input-sm" id="js_s_input_plant" placeholder="Plant">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_location">Location</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Location" class="form-control input-sm" id="js_s_input_location" placeholder="Location">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_type">Type</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Type" class="form-control input-sm" id="js_s_input_type" placeholder="Type">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_plant_code">Plant Code</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Name_0" class="form-control input-sm" id="js_s_input_plant_code" placeholder="Plant Code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_plant_name_zh">Plant Name(ZH)</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Name_1" class="form-control input-sm" id="js_s_input_plant_name_zh" placeholder="Plant Name(ZH)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_plant_manager_name">Manager Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="PlantManager_Name" class="form-control input-sm" id="js_s_input_plant_manager_name" placeholder="PlantManager Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_reference_date">Reference Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="Reference_Date" class="form-control input-sm date" id="js_s_input_reference_date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" data-type="radio" data-for-name="query_types">Query Types</label>
                                    <div class="col-sm-8 search-radio-cnt">
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_valid" value="0" checked> Valid</label>
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_invalid" value="1"> Invalid</label>
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_all" value="2"> All</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_modified_by_ntid">Modified By</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Modified_By_NTID" class="form-control input-sm" id="js_s_input_modified_by_ntid" placeholder="Modified By(NTID)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" data-type="date-interval">Modified Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <span class="input-group-addon">From</span>
                                            <input type="text" name="Modified_Date_From" class="form-control input-sm date" id="js_s_input_modified_from">
                                            <span class="input-group-addon">To</span>
                                            <input type="text" name="Modified_Date_End" class="form-control input-sm date" id="js_s_input_modified_to">
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_clear"><i class="fa fa-eraser"></i> Clear</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_query"><i class="fa fa-search"></i> Query</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js_edit_modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Maintain Plant</h4>
                </div>

                <form id="js_form_plant_edit" class="form-horizontal clearfix">
                    <div class="modal-body form-horizontal">
                        <div class="row">
                            <input type="hidden" name="System_FunPlant_UID" id="js_hidden_plant_uid" value="0" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant">Plant</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_plant" name="Plant" placeholder="Plant"
                                               required data-msg-required="Please enter Plant"
                                               data-rule-maxlength="4" data-msg-maxlength="Please enter no more than {0} characters in Plant."
                                               data-remote="CheckPlantExistByPlant" data-original=""
                                               data-rule-checkwhetherexist="true" data-msg-checkwhetherexist="Plant is already in use">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_location">Location</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_location" name="Location" placeholder="Location"
                                               required data-msg-required="Please enter Location"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in Location.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_type">Type</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_type" name="Type" placeholder="Type"
                                               required data-msg-required="Please enter Type"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in Type.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant_code">Plant Code</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_plant_code" name="Name_0" placeholder="Plant Code"
                                               required data-msg-required="Please enter Plant Code"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in Plant Code.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant_name_zh">Plant Name(ZH)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_plant_name_zh" name="Name_1" placeholder="Plant Name(ZH)"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in Plant Name(ZH).">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_ccode">CCODE</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_ccode" name="CCODE" placeholder="CCODE"
                                               data-rule-maxlength="4" data-msg-maxlength="Please enter no more than {0} characters in CCODE.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_company_name_en">Company Name(EN)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_company_name_en" name="Legal_Entity_EN" placeholder="Company Name(EN)"
                                               data-rule-maxlength="200" data-msg-maxlength="Please enter no more than {0} characters in Company Name(EN).">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_company_name_zh">Company Name(ZH)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_company_name_zh" name="Legal_Entity_ZH" placeholder="Company Name(ZH)"
                                               data-rule-maxlength="200" data-msg-maxlength="Please enter no more than {0} characters in Company Name(ZH).">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant_manager_name">PlantManager Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_plant_manager_name" name="PlantManager_Name" placeholder="PlantManager Name"
                                               required data-msg-required="Please enter PlantManager Name"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in PlantManager Name.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant_manager_tel">PlantManager Tel</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_plant_manager_tel" name="PlantManager_Tel" placeholder="PlantManager Tel"
                                               required data-msg-required="Please enter PlantManager Tel"
                                               data-rule-maxlength="20" data-msg-maxlength="Please enter no more than {0} characters in PlantManager Tel.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_plant_manager_email">PlantManager Email</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm required" id="js_input_plant_manager_email" name="PlantManager_Email" placeholder="PlantManager Email"
                                               required data-msg-required="Please enter PlantManager Email"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in email."
                                               data-rule-email="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_company_address_en">Company Address(EN)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_company_address_en" name="Address_EN" placeholder="Company Address(EN)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_company_address_ch">Company Address(ZH)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_company_address_ch" name="Address_ZH" placeholder="Company Address(ZH)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_coordinate">Coordinate</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_coordinate" name="Coordinate" placeholder="Coordinate"
                                               data-rule-maxlength="30" data-msg-maxlength="Please enter no more than {0} characters in Coordinate.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-l" for="js_input_begin_date">Begin Date</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="Begin_Date" class="form-control input-sm date-from-today" id="js_input_begin_date" data-rule-date="true"
                                                   required data-msg-required="Please enter Begin Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-l" for="js_input_end_date">End Date</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="End_Date" class="form-control input-sm date-from-today" id="js_input_end_date" data-rule-date="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="js_input_name_2">Name_2</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-sm" id="js_input_name_2" name="Name_2" placeholder="Name_2"
                                               data-rule-maxlength="50" data-msg-maxlength="Please enter no more than {0} characters in Name_2.">
                                    </div>
                                </div>
                            </div>

                            <!--jquery validata error container-->
                            <div class="col-xs-12"><ul class="list-group validate-error"></ul></div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                        <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_new_plant"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_edit_plant"><i class="fa fa-save"></i> Edit Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- View Modal -->
    <div class="modal fade" id="js_view_modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">View</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant">Plant</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_location">Location</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_location" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_type">Type</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_type" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant_code">Plant Code</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant_code" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant_name_zh">Plant Name(ZH)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant_name_zh" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_ccode">CCODE</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_ccode" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_company_name_en">Company Name(EN)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_company_name_en" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_company_name_zh">Company Name(ZH)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_company_name_zh" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant_manager_name">PlantManager Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant_manager_name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant_manager_tel">PlantManager Tel</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant_manager_tel" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_plant_manager_email">PlantManager Email</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_plant_manager_email" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_company_address_en">Company Address(EN)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_company_address_en" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_company_address_ch">Company Address(CH)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_company_address_ch" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_coordinate">Coordinate</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_coordinate" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-l" for="js_v_input_begin_date">Begin Date</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control input-sm" id="js_v_input_begin_date" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-l" for="js_v_input_end_date">End Date</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control input-sm" id="js_v_input_end_date" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_v_input_name_2">Name_2</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm" id="js_v_input_name_2" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section ViewScripts{
    <script type="text/javascript">
        $(function () {

            var PlantMaintenance = (function () {
                var needBuildCriteria = false;
                var urls =
                    {
                        EditPlant: '@Url.Action("EditPlant", "Settings")',
                        AddPlant: '@Url.Action("AddPlant", "Settings")',
                        queryPlants: '@Url.Action("QueryPlants", "Settings")',
                        queryPlant: '@Url.Action("QueryPlant", "Settings")',
                        deletePlant: '@Url.Action("DeletePlant", "Settings")',
                        GetMaxEnddate4Plant: '@Url.Action("GetMaxEnddate4Plant", "Settings")',
                        exportPlants: '@Url.Action("DoExportPlant", "Settings")'
                    };
                var columns = [{

                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.System_Plant_UID + '">')
                             .addClass('table-col-checkbox');
                    },
                    className: "text-center"
                }, {
                    createdCell: function (td, cellData, rowData, row, col) {
                        var disableEdit = false;
                        if (rowData.End_Date !== null && moment().startOf('day').isAfter(rowData.End_Date)) {
                            disableEdit = true;
                        }
                        $(td).html('<button class="btn btn-primary btn-xs" rel="action-popover">' +
                                        '<i class="fa fa-reorder"></i>' +
                                    '</button>' +
                                    '<div class="hidden popover-content">' +
                                        '<button type="button" class="btn btn-primary btn-xs js-grid-view" data-id="' + rowData.System_Plant_UID + '">View</button>' +
                                        '<button type="button" class="btn btn-primary btn-xs js-grid-edit ' + (disableEdit ? "disabled" : "") + '" data-id="' + rowData.System_Plant_UID + '">Edit</button>' +
                                        '<button type="button" class="btn btn-primary btn-xs js-grid-delete" data-id="' + rowData.System_Plant_UID + '">Delete</button>' +
                                    '</div>');
                    },
                    className: "text-center"
                }, {
                    data: null,
                    className: "table-col-seq"
                }, {
                    data: "Plant",
                    className: "min-col-xs"
                }, {
                    data: "Location",
                    className: "min-col-xs"
                }, {
                    data: "Type",
                    className: "min-col-xs"
                }, {
                    data: "Name_0",
                    className: "min-col-xs"
                }, {
                    data: "Name_1",
                    className: "min-col-xs"
                }, {
                    data: "PlantManager_Name",
                    className: "min-col-xs"
                }, {
                    data: "PlantManager_Tel",
                    className: "min-col-xs"
                }, {
                    data: "Begin_Date",
                    className: "min-col-xs"
                }, {
                    data: "End_Date",
                    className: "min-col-xs"
                }, {
                    data: "ModifiedUser.User_Name",
                    className: "min-col-lg"
                }, {
                    data: "Modified_Date",
                    className: "min-col-lg"
                }];

                var _getParams = function () {
                    if (needBuildCriteria) {
                        return $('#js_form_query').serialize().replace(/\+/g, " ");
                    }
                    else {
                        return null;
                    }
                };

                var _queryPlants = function (firstLoad) {

                    var config = {
                        pageId: "#page",
                        tableId: "#js_plant_datatable",
                        remoteUrl: urls.queryPlants,
                        searchParams: _getParams(),
                        tableOptions: {
                            scrollX: true,
                            scrollCollapse: false,
                            autoWidth: true,
                            columns: columns
                        }
                    };

                    if (!firstLoad) {
                        $('#page').page('destroy');
                    }

                    if (needBuildCriteria) {
                        PDMS.Utility.Criteria.Build();
                    }

                    PDMS.Utility.Pages.Set(config);
                };

                return {
                    urls: urls,
                    Init: function () {
                        //页面初始化加载查询时，初始化Criteria
                        PDMS.Utility.Criteria.Init();
                        _queryPlants(true);
                    },
                    queryPlants: function (isSearchBtn) {
                        needBuildCriteria = (isSearchBtn === true ? true : needBuildCriteria);
                        _queryPlants(false);
                    }
                }

            })();
            PlantMaintenance.Init();

            $('#js_btn_query').click(function () {
                if ($("#js_form_query").valid()) {
                    PlantMaintenance.queryPlants(true);
                    $('#js_search_modal').modal('hide');
                }
            });

            $('#js_btn_export').click(function () {
                var $selectList = $('#js_plant_datatable').find('.js-checkbox-item:checked');
                var len = $selectList.length;
                if (len == 0) {
                    PDMS.Utility.MessageBox.info('please select datas to export!');
                } else {
                    var uuids = $.map($selectList, function (row) {
                        return row.value;
                    });
                    var url = PlantMaintenance.urls.exportPlants;
                    url += "?uuids=" + uuids.toString();
                    window.location.href = url;
                }
            });

            //extra configuration of validate in add/edit model, others via data-attribute
            $('#js_form_plant_edit').validate({
                errorContainer: $('ul.validate-error'),
                errorLabelContainer: $('#js_edit_modal ul.validate-error'),
                wrapper: 'li'
            });

            //clear query conditions in search modal
            $('#js_btn_clear').click(function () {

                PDMS.Utility.Criteria.Clear(function () {
                    $('#js_s_radio_valid').prop('checked', true);
                    $("#js_s_input_reference_date").val(moment().format('YYYY-MM-DD'));
                });
            });

            //do clean up in edit modal show/hide
            $('#js_edit_modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var modal = $(this)
                var title = modal.find('.modal-title');

                if (button.hasClass('js-grid-edit')) {
                    title.text("Edit Plant");

                    $('#js_btn_save_new_plant').hide();
                    $('#js_btn_save_edit_plant').show();
                    $('#js_input_begin_date').attr("disabled", true);
                    $("#js_hidden_edit_id").val(0);

                } else if (button.attr('id') == 'js_btn_add_plant') {

                    title.text("Add Plant");
                    $('#js_input_plant').data('original', '');
                    $('#js_input_begin_date').attr("disabled", false);
                    $('#js_input_end_date').attr("disabled", false);
                    $('#js_btn_save_new_plant').show();
                    $('#js_btn_save_edit_plant').hide();
                }
            })
            $('#js_edit_modal').on('hidden.bs.modal', function (e) {

                $('#js_edit_modal').find('input').val('');
                $('.list-group.validate-error').empty();
            });

            //edit button in grid
            $('body').on('click', '.js-grid-edit', function () {
                var $sender = $(this);
                if ($sender.hasClass('disabled')) {
                    PDMS.Utility.MessageBox.error("Plant already expired, can't edit!");
                    return;
                }

                $("#js_hidden_edit_id").val(1);
                var uuid = $(this).attr('data-id'),
                    url = PlantMaintenance.urls.queryPlant;
                $.post(url, { uuid: uuid }, function (data) {
                    $('#js_hidden_plant_uid').val(uuid);
                    $('#js_input_plant').val(data.Plant).data('original', data.Plant);
                    $('#js_input_location').val(data.Location);
                    $('#js_input_type').val(data.Type);
                    $('#js_input_plant_code').val(data.Name_0);
                    $('#js_input_plant_name_zh').val(data.Name_1);
                    $('#js_input_ccode').val(data.CCODE);
                    $('#js_input_company_name_en').val(data.Legal_Entity_EN);
                    $('#js_input_company_name_zh').val(data.Legal_Entity_ZH);
                    $('#js_input_plant_manager_name').val(data.PlantManager_Name);
                    $('#js_input_plant_manager_tel').val(data.PlantManager_Tel);
                    $('#js_input_plant_manager_email').val(data.PlantManager_Email);
                    $('#js_input_company_address_en').val(data.Address_EN);
                    $('#js_input_company_address_ch').val(data.Address_ZH);
                    $('#js_input_begin_date').val(data.Begin_Date);
                    //若是＂失效日期End_Date＂已經填寫，則本筆資料不能編輯
                    $('#js_input_end_date').val(data.End_Date).attr("disabled", data.End_Date != null);
                    $('#js_input_coordinate').val(data.Coordinate);
                    $('#js_input_name_2').val(data.Name_2);
                });

                $('#js_edit_modal').modal('show', $(this));

            });
            //delete button in grid
            $('body').on('click', '.js-grid-delete', function () {

                var uuid = $(this).attr('data-id');


                PDMS.Utility.MessageBox.confirm(
                    "Are you sure to delete this item?"
                    , function () {
                        var url = PlantMaintenance.urls.deletePlant;
                        $.post(url, { System_Plant_UID: uuid }, function (data) {
                            if (data != 'FAIL') {
                                PlantMaintenance.queryPlants();
                            } else {
                                PDMS.Utility.MessageBox.error("Plant already in used!");
                            }
                        });
                    });
            });
            //Grid中View按钮
            $('body').on('click', '.js-grid-view', function () {

                var uuid = $(this).attr('data-id'),
                    url = PlantMaintenance.urls.queryPlant;

                $.post(url, { uuid: uuid }, function (data) {
                    $('#js_v_input_plant').val(data.Plant);
                    $('#js_v_input_location').val(data.Location);
                    $('#js_v_input_type').val(data.Type);
                    $('#js_v_input_plant_code').val(data.Name_0);
                    $('#js_v_input_plant_name_zh').val(data.Name_1);
                    $('#js_v_input_ccode').val(data.CCODE);
                    $('#js_v_input_company_name_en').val(data.Legal_Entity_EN);
                    $('#js_v_input_company_name_zh').val(data.Legal_Entity_ZH);
                    $('#js_v_input_plant_manager_name').val(data.PlantManager_Name);
                    $('#js_v_input_plant_manager_tel').val(data.PlantManager_Tel);
                    $('#js_v_input_plant_manager_email').val(data.PlantManager_Email);
                    $('#js_v_input_company_address_en').val(data.Address_EN);
                    $('#js_v_input_company_address_ch').val(data.Address_ZH);
                    $('#js_v_input_begin_date').val(data.Begin_Date);
                    //若是＂失效日期End_Date＂已經填寫，則本筆資料不能編輯
                    $('#js_v_input_end_date').val(data.End_Date);
                    $('#js_v_input_coordinate').val(data.Coordinate);
                    $('#js_v_input_name_2').val(data.Name_2);
                    $('#js_view_modal').modal('show');
                });
            });

            //Form Validate
            $('#js_form_plant_edit').validate({
                errorContainer: $('ul.validate-error'),
                errorLabelContainer: $('#js_edit_modal ul.validate-error'),
                wrapper: 'li'
            });
            $('#js_input_end_date').rules('add', {
                StartDateGTEnd: "#js_input_begin_date",
                messages: { StartDateGTEnd: PDMS.Utility.Settings.ValidateMessage.twoDateError }
            });

            //新增保存Plant按钮
            $("#js_btn_save_new_plant").click('click', function () {

                var editform = $('#js_form_plant_edit');
                if (editform.valid()) {

                    var submitJson = editform.serializeObject();
                    if (moment(submitJson.Begin_Date).diff(moment(), 'days') < 0) {
                        PDMS.Utility.MessageBox.error('Begin Date should equal or greater than today');
                        return;
                    }
                    submitJson.System_FunPlant_UID = 0;
                    $.post(PlantMaintenance.urls.AddPlant, { jsonAddPlant: JSON.stringify(submitJson) }, function (data) {
                        if (data == 'SUCCESS') {

                            PDMS.Utility.MessageBox.info("Add Plant Success");
                            editform.find("input").val("");
                        } else {
                            PDMS.Utility.MessageBox.error(data);
                        }
                    });
                }
            });

            //新增修改Plant按钮
            $("#js_btn_save_edit_plant").click('click', function () {

                var $editform = $('#js_form_plant_edit');

                if ($editform.valid()) {
                    var submitJson = $editform.serializeObject();
                    var $inputEnddate = $('#js_input_end_date');
                    var enddateDisabled = $inputEnddate.prop('disabled');
                    var enddateValidate = true;

                    submitJson.End_Date = $inputEnddate.val();

                    if (!enddateDisabled && submitJson.End_Date.length > 0) {
                        if (moment(submitJson.End_Date).diff(moment(), 'days') < 0) {
                            PDMS.Utility.MessageBox.error('End Date should equal or greater than today');
                            return;
                        }

                        $.ajax({
                            type: "get",
                            url: PlantMaintenance.urls.GetMaxEnddate4Plant,
                            data: { uid: submitJson.System_Plant_UID },
                            async: false,
                            success: function (response) {

                                if (response.Enddate !== null && moment(submitJson.End_Date).isValid()) {
                                    if (moment(submitJson.End_Date).isBefore(response.Enddate)) {

                                        enddateValidate = false;
                                        PDMS.Utility.MessageBox.error("User Plant has set End Date, End Date here should after " + response.Enddate);
                                    }
                                }
                            }
                        });//end ajax
                    }

                    if (enddateValidate) {
                        $.post(PlantMaintenance.urls.EditPlant, { jsonEditPlant: JSON.stringify(submitJson) }, function (data) {
                            if (data == 'SUCCESS') {
                                PDMS.Utility.MessageBox.info("Edit Plant Success");
                                $('#js_edit_modal').modal('hide');

                                PlantMaintenance.queryPlants();
                            } else {
                                PDMS.Utility.MessageBox.error(data);
                            }
                        });
                    }
                }
            });

        });
    </script>
}