<!-- Main content -->
<section class="content portal-content">

    <!--次標題 與 搜尋-->
    <div class="row">
        <!--次標題與Search keyword-->
        <div class="col-md-12 col-lg-9">
            <h4 class="margin-td-5" id="js_search_keywords"></h4>
        </div><!-- /col-次標題與Search keyword -->
        <!--col-右方搜尋與功能按鈕列-->
        <div class="col-md-12 search-field col-lg-3">
            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#js_search_modal" id="js_btn_search"><i class="fa fa-search"></i> Search</a>
            <a class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#js_edit_modal" id="js_btn_add_userorg">
                <i class="fa fa-plus"></i> Add
            </a>
            <a id="js_btn_export" class="btn btn-primary btn-sm" role="button">
                <i class="glyphicon glyphicon-save"></i> Export
            </a>
        </div><!-- /col-右方搜尋與功能按鈕列-->
    </div><!--/次標題 與 搜尋-->
    <hr class="hr-custom">

    <!--row Search Keyword collapse-->
    <div class="row">
        <div class="col-xs-12" id="js_criteria_alert_cnt">
        </div>
    </div> <!--/row Search Keyword collapse-->
    <!--內容 表格列-->
    <div class="row">
        <!--表格-->
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_user_Org_datatable">
                <thead>
                    <tr>
                        <th class="table-col-checkbox nosort">
                            <input type="checkbox" class="js-checkbox-all" />
                        </th>
                        <th class="table-col-action nosort">Action</th>
                        <th class="table-col-seq nosort">Seq</th>
                        <th>User NTID</th>
                        <th>User Name</th>
                        <th>Organization ID</th>
                        <th>Organization Name</th>

                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Modified User</th>
                        <th>Modified Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-checkbox nosort"></th>
                        <th class="table-col-action nosort">Action</th>
                        <th class="table-col-seq nosort">Seq</th>
                        <th>User NTID</th>
                        <th>User Name</th>
                        <th>Organization ID</th>
                        <th>Organization Name</th>

                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Modified User</th>
                        <th>Modified Date</th>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" id="js_hidden_account_uid" value="0" />
            <div id="page" class="row"></div>

        </div><!--/表格-->
    </div><!-- / 內容 表格列 -->


</section><!-- /.content -->
@section ViewModals{
    <!-- Search Modal -->
    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Search</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <form id="js_form_query" data-need-validate="True">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_user_ntid">User NTID</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="User_NTID" class="form-control input-sm" id="js_s_input_user_ntid" placeholder="User NTID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_user_name">User Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="User_Name" class="form-control input-sm" id="js_s_input_user_name" placeholder="User Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_Organization_ID">Organization ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Organization_ID" class="form-control input-sm" id="js_s_input_Organization_ID" placeholder="Organization ID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_Organization_Name">Organization Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Organization_Name" class="form-control input-sm" id="js_s_input_Organization_Name" placeholder="Organization Name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_reference_date">Reference Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" name="Reference_Date" class="form-control input-sm date" id="js_s_input_reference_date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" data-type="radio" data-for-name="query_types">Query Types</label>
                                    <div class="col-sm-8 search-radio-cnt">
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_valid" value="0" checked> Valid</label>
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_invalid" value="1"> Invalid</label>
                                        <label class="radio-inline"><input type="radio" name="query_types" id="js_s_radio_all" value="2"> All</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="js_s_input_modified_by_ntid">Modified By</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Modified_By_NTID" class="form-control input-sm" id="js_s_input_modified_by_ntid" placeholder="Modified By(NTID)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" data-type="date-interval">Modified Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <span class="input-group-addon">From</span>
                                            <input type="text" name="Modified_Date_From" class="form-control input-sm date" id="js_s_input_modified_from">
                                            <span class="input-group-addon">To</span>
                                            <input type="text" name="Modified_Date_End" class="form-control input-sm date" id="js_s_input_modified_to">
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_clear"><i class="fa fa-eraser"></i> Clear</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_query"><i class="fa fa-search"></i> Query</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add/Edit Modal -->
    <div class="modal fade" id="js_edit_modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Maintain User Organization</h4>
                </div>
                <div class="modal-body">
                    <form id="js_form_maintain" class="form-horizontal clearfix">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="text-align:left" for="js_input_user_ntid">User NTID</label>
                                <div class="col-sm-6">
                                    <input type="text" name="User_NTID" class="form-control input-sm" id="js_input_user_ntid" placeholder="User NTID">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label" for="js_input_user_name">User Name</label>
                                <div class="col-sm-6">
                                    <input type="text" name="User_Name" class="form-control input-sm" id="js_input_user_name" placeholder="User Name" disabled>
                                </div>
                            </div>
                        </div>
                        <!--jquery validata error container-->
                        <div class="col-xs-12 "><ul class="list-group validate-error"></ul></div>
                    </form>
                    <hr class="no-margin" />
                    <div class="row" id="js_panal_for_add">
                        <div class="col-xs-12">
                            <table id="js_org_table_for_view" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th class="table-col-seq">Seq</th>
                                        <th>Organization ID</th>
                                        <th>Organization Name</th>
                                        <th>Begin Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <h4>
                        Organization
                        <button class="btn btn-primary btn-sm" id="js_btn_add_Org">Add Organization</button>
                        <button class="btn btn-primary btn-sm" id="js_btn_del_Org">Delete Organization</button>
                    </h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="js_Org_table" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th class="table-col-checkbox">
                                            <input type="checkbox" class="js-checkbox-all" />
                                        </th>
                                        <th class="table-col-seq">Seq</th>
                                        <th style="min-width:300px">Organization</th>
                                        <th>Begin Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_new_UserOrg"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_save_edit_UserOrg"><i class="fa fa-save"></i> Edit Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- View Modal -->

}

@section ViewScripts{
    <script type="text/javascript">
        $(function () {

            var UserOrgSettingUrls = {
                QueryUserOrgs: '@Url.Action("QueryUserOrgs", "Settings")',
                QueryUserOrg: '@Url.Action("QueryUserOrg", "Settings")',
                DeleteUserOrg: '@Url.Action("DeleteUserOrg", "Settings")',
                DeleteSubOrg: '@Url.Action("DeleteSubOrg", "Settings")',
                AddUserOrg: '@Url.Action("AddUserOrg", "Settings")',
                DoExportUserOrg: '@Url.Action("DoExportUserOrg", "Settings")',
                getUserName: '@Url.Action("GetSystemUserByNTId", "Common")',
                modifyUserOrg: '@Url.Action("modifyUserOrg", "Settings")',
                GetOrgInfo: '@Url.Action("GetOrgInfoByOrg", "Settings")'
            };
            //#region UserOrgSetting
            var UserOrgSetting = (function () {

                var needBuildCriteria = false;
                var subDatatable = null;

                //#region columns
                var columns = [{

                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.System_UserOrgUID + '">')
                             .addClass('table-col-checkbox');
                    },
                    className: "text-center min-col-xs"
                }, {
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html('<button class="btn btn-primary btn-xs" rel="action-popover">' +
                                        '<i class="fa fa-reorder"></i>' +
                                    '</button>' +
                                    '<div class="hidden popover-content">' +
                                        '<button type="button" name="grid_edit" class="btn btn-primary btn-xs js-grid-edit" data-uuid="' + rowData.Account_UID + '">Edit</button>' +
                                    '</div>');
                    },
                    className: "text-center min-col-xs"
                }, {
                    data: null,
                    className: "table-col-seq min-col-xs"
                }, {
                    data: "User_NTID",
                    className: "min-col-md"
                }, {
                    data: "User_Name",
                    className: "min-col-md"
                }, {
                    data: "Organization_ID",
                    className: "min-col-xs"
                }, {
                    data: "Organization_Name",
                    className: "min-col-xs"
                }, {
                    data: "Begin_Date",
                    className: "min-col-lg"
                }, {
                    data: "End_Date",
                    className: "min-col-lg"
                }, {
                    data: "Modified_UserName",
                    className: "min-col-lg"
                }, {
                    data: "Modified_Date",
                    className: "min-col-lg"
                }];
                //#endregion

                //#region subColumns
                var subColumns = [{
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item">')
                             .addClass('table-col-checkbox');
                    },
                    className: "text-center",
                    defaultContent: ' ',
                }, {
                    className: "table-col-seq",
                    render: function (data, type, rowData, meta) {
                        return ++meta.row;
                    }
                }, {
                    data: "Organization_ID",
                    className: "min-col-lg js-p-org-id",
                    render: function (data, type, rowData, meta) {

                        var isEdit = rowData.System_UserOrgUID > 0;
                        var html = isEdit ? ("Org Id:" + data + " / Org Name:" + rowData.Organization_Name) : '<select class="form-control input-sm js-subtable-org-id" name="Org" style="width:100%"></select>';
                        return html;
                    }
                }, {
                    data: "UserOrg_Begin_Date",
                    className: "min-col-lg js-userorg-begindate",
                    render: function (data, type, rowData, meta) {

                        var isEdit = rowData.System_UserOrgUID > 0;
                        var html;

                        if (isEdit) {
                            html = data;
                        } else {
                            html = '<div class="input-group">' +
                                        '<div class="input-group-addon"><i class="fa fa-calendar"></i></div>' +
                                        '<input type="text" name="Begin_Date" class="form-control input-sm date" value="" readonly="readonly">' +
                                    '</div>';
                        }
                        return html;
                    }
                }, {
                    data: "UserOrg_End_Date",
                    className: "min-col-lg",
                    render: function (data, type, rowData, meta) {
                        var isDisable, html;

                        isDisable = data !== null;

                        if (isDisable) {
                            html = data;

                        } else {

                            html = '<div class="input-group">' +
                                        '<div class="input-group-addon"><i class="fa fa-calendar"></i></div>' +
                                        '<input type="text" name="End_Date" class="form-control input-sm date" value="" readonly="readonly">' +
                                        '<span class="input-group-addon date-clear"><i class="fa fa-times"></i></span>' +
                                   '</div>';
                        }
                        return html;
                    }
                }];

                var subColumnsForView = [{
                    className: "table-col-seq",
                    render: function (data, type, rowData, meta) {
                        return ++meta.row;
                    }
                }, {
                    data: "Organization_ID"
                }, {
                    data: "Organization_Name"
                }, {
                    data: "UserOrg_Begin_Date"
                }, {
                    data: "UserOrg_End_Date"
                }];
                //#endregion subColumns

                var _getParams = function () {
                    if (needBuildCriteria) {
                        return $('#js_form_query').serialize().replace(/\+/g, " ");
                    } else {
                        return null;
                    }
                };

                var _queryUserOrgs = function (firstLoad) {

                    var config = {
                        pageId: "#page",
                        tableId: "#js_user_Org_datatable",
                        remoteUrl: UserOrgSettingUrls.QueryUserOrgs,
                        searchParams: _getParams(),

                        tableOptions: {
                            scrollX: true,
                            autoWidth: true,
                            columns: columns
                        }
                    };

                    if (!firstLoad) {
                        $('#page').page('destroy');
                    }

                    if (needBuildCriteria) {
                        PDMS.Utility.Criteria.Build();
                    }

                    PDMS.Utility.Pages.Set(config);
                };

                return {
                    Init: function () {
                        //页面初始化加载查询时，初始化Criteria
                        PDMS.Utility.Criteria.Init();
                        _queryUserOrgs(true);
                    },
                    QueryUserOrgs: function (isSearchBtn) {

                        needBuildCriteria = (isSearchBtn === true ? true : needBuildCriteria);
                        _queryUserOrgs(false);
                    },
                    GetSubDatatable: function () {

                        if (subDatatable == null) {

                            subDatatable = $('#js_Org_table').DataTable({
                                paging: false,
                                searching: false,
                                ordering: false,
                                retrieve: true,
                                columns: subColumns,
                            });

                        }
                        return subDatatable;
                    },
                    SetSubDatatable: function (datatable) {
                        subDatatable = datatable;
                    },
                    DestroySubTable: function () {
                        if (subDatatable != null) {
                            subDatatable.destroy();
                        }
                    },
                    SubColumns: subColumns,
                    SubColumnsForView: subColumnsForView,
                }
            })();
            //#endregion
            UserOrgSetting.Init();
            // #region Page elements events

            //查询按钮
            $('#js_btn_query').click(function () {
                if ($("#js_form_query").valid()) {
                    UserOrgSetting.QueryUserOrgs(true);
                    $('#js_search_modal').modal('hide');
                }
            });
            //[新增User拥有的Org]按钮
            $('#js_btn_add_Org').on('click', function () {

                var dataTable = UserOrgSetting.GetSubDatatable();
                var allowAdd = true;

                dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {

                    var $row = $(dataTable.row(rowIdx).node());

                    if ($row.data("orginfo").userorguid > 0) {
                        return;
                    }

                    var $begindate = $row.find('input[name=Begin_Date]');

                    if ($row.find('.js-subtable-org-id').val() === null || $begindate.length > 0 && $begindate.val() === "") {

                        PDMS.Utility.MessageBox.info('Incomplete context at row #' + (rowIdx + 1) + ", Please fill complete before add new row.");
                        allowAdd = false;
                        return false;
                    }
                });

                if (allowAdd) {
                    var row = dataTable.row.add({
                        "Organization_UID": 0,
                        "Org": "",
                        "Organization_Name": "",
                        "UserOrg_Begin_Date": null,
                        "UserOrg_End_Date": null,
                    }).draw();

                    $tr = $(row.node());
                    $tr.find('.date').datetimepicker(PDMS.Utility.Settings.DatetimepickerFromToday);
                    $tr.find('.js-subtable-org-id').select2(orgSelect2Option);
                }
            });
            //[删除User拥有的Org]按钮
            $('#js_btn_del_Org').on('click', function () {

                var dataTable = UserOrgSetting.GetSubDatatable();

                var $checkedItems = $('#js_Org_table .js-checkbox-item:checked');

                if ($checkedItems.length == 0) {

                    PDMS.Utility.MessageBox.info("Please select data to delete");
                    return;

                } else {

                    $.map($checkedItems, function (checkbox) {
                        dataTable.row($(checkbox).parents('tr')).remove().draw();
                    });

                    dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        dataTable.cell(rowIdx, 1).data(rowIdx + 1).draw()
                    });
                }
            });
            //User NTID文本框失去焦点后根据内容自动填充User Name
            $('#js_input_user_ntid').on('blur', function () {

                $.get(UserOrgSettingUrls.getUserName, { User_NTID: $(this).val() },

                    function (data) {
                        var userName = '', accountUId = 0;

                        if (data !== null) {
                            userName = data.User_Name;
                            accountUId = data.Account_UID;

                            $.post(UserOrgSettingUrls.QueryUserOrg, { uuid: accountUId }, function (data) {
                                var subTable = $('#js_org_table_for_view').DataTable({
                                    columns: UserOrgSetting.SubColumnsForView,
                                    ordering: false,
                                    data: data.UserOrgWithOrgs,
                                    destroy: true
                                });

                                if (data.UserOrgWithOrgs.length > 0) {

                                    $('#js_panal_for_add').show();
                                } else {

                                    $('#js_panal_for_add').hide();
                                }
                            });
                        } else {
                            $('#js_panal_for_add').hide();
                        }

                        $('#js_input_user_name').val(userName);
                        $("#js_hidden_account_uid").val(accountUId);
                    });
            });

            //新增保存Org按钮js_btn_save_new_UserOrg
            $('#js_btn_save_new_UserOrg').click('click', function () {

                var userName = $.trim($('#js_input_user_name').val());
                var accountUID = $("#js_hidden_account_uid").val();

                if (accountUID == 0) {
                    PDMS.Utility.MessageBox.info("Please input the right User NTID");
                } else {

                    if ($("#js_form_maintain").valid()) {

                        var submitJson = { Account_UID: accountUID, User_Name: userName };

                        if (SaveCheck(submitJson)) {
                            if (submitJson.UserOrgWithOrgs.length > 0) {
                                $.post(UserOrgSettingUrls.AddUserOrg, { jsonUserWithPlant: JSON.stringify(submitJson) }, function (data) {
                                    if (data == 'SUCCESS') {
                                        PDMS.Utility.MessageBox.info("Save Success");
                                        $("#js_form_maintain input").val('');
                                        $("#js_hidden_account_uid").val(0);
                                        UserOrgSetting.GetSubDatatable().clear().draw();
                                        $('#js_panal_for_add').hide();
                                    } else {
                                        PDMS.Utility.MessageBox.error(data);
                                    }
                                });
                            } else {
                                PDMS.Utility.MessageBox.error("Please add at least one organization");
                            }
                        }
                    }
                }
            });

            //修改保存Function按钮
            $('#js_btn_save_edit_UserOrg').click('click', function () {
                var userName = $.trim($('#js_input_user_name').val());
                var accountUID = $("#js_hidden_account_uid").val();

                var submitJson = { Account_UID: accountUID, User_Name: userName };
                if (SaveCheck(submitJson)) {

                    $.post(UserOrgSettingUrls.modifyUserOrg, { jsonUserWithPlant: JSON.stringify(submitJson) }, function (data) {
                        if (data == 'SUCCESS') {
                            PDMS.Utility.MessageBox.info("Save Success");
                            UserOrgSetting.QueryUserOrgs();
                            $('#js_edit_modal').modal('hide');
                        } else {
                            PDMS.Utility.MessageBox.error(data);
                        }
                    });
                }

            });

            function SaveCheck(submitJson) {
                var flag = true;
                var userOrgs = [];
                var dataTable = UserOrgSetting.GetSubDatatable();

                dataTable
                    .rows()
                    .every(function (rowIdx, tableLoop, rowLoop) {
                        var userorg = {};
                        var $row = $(dataTable.row(rowIdx).node()),
                            rowData = $row.data('orginfo');

                        $endDateInput = $row.find('input[name=End_Date]');
                        if ($endDateInput.length === 0) {
                            return;
                        }

                        //get userorguid
                        var userorgUid = rowData.userorguid === undefined ? 0 : rowData.userorguid;
                        var orgId = rowData.id;

                        //get orguid
                        var orgUId = rowData.uid;
                        if (orgUId == 0) {

                            flag = false;
                            PDMS.Utility.MessageBox.info("Please input a correct organization id");
                            return false;
                        }

                        //get userorg begindate
                        var userorgBegindate = userorgUid > 0 ? $row.find('.js-userorg-begindate').text() : $row.find('input[name=Begin_Date]').val();

                        //valid begindate
                        if (!moment(userorgBegindate).isValid()) {
                            PDMS.Utility.MessageBox.error(PDMS.Utility.Tools.FormatString("Begin Date can't be empty or is invalid at #{0}row", (rowIdx + 1)));
                            flag = false;
                            return false;
                        }

                        //get userorg enddate
                        var userorgEnddate = $endDateInput.val();

                        if (userorgEnddate === "") {
                            userorgEnddate = null;
                        } else {
                            if (moment(userorgBegindate).isAfter(userorgEnddate)) {
                                PDMS.Utility.MessageBox.error(PDMS.Utility.Tools.FormatString("Begin Date can't after End Date, Error at #{0} row", (rowIdx + 1)));
                                flag = false;
                                return false;
                            }
                        }

                        var dateValidate = PDMS.Utility.Tools.DateCompareInterval(
                                                { name: "Orgnization", beginDate: rowData.begindate, endDate: rowData.enddate === undefined ? null : rowData.enddate },
                                                { name: "User Orgnization", beginDate: userorgBegindate, endDate: userorgEnddate },
                                                PDMS.Utility.Tools.FormatString("Date not valid at #{0} row", (rowIdx + 1))
                                            );

                        if (!dateValidate) { flag = false; return false; }

                        userorg["System_UserOrgUID"] = userorgUid;
                        userorg["Organization_UID"] = orgUId;
                        userorg["Organization_ID"] = orgId;
                        userorg["UserOrg_Begin_Date"] = userorgBegindate;
                        userorg["UserOrg_End_Date"] = userorgEnddate;
                        //push item into sub
                        userOrgs.push(userorg);
                    });

                submitJson.UserOrgWithOrgs = userOrgs;

                return flag;
            }

            //导出按钮
            $('#js_btn_export').click(function () {
                var $selectList = $('#js_user_Org_datatable').find('.js-checkbox-item:checked');
                var len = $selectList.length;
                if (len == 0) {
                    PDMS.Utility.MessageBox.info('please select datas to export!');
                } else {
                    var uids = $.map($selectList, function (row) {
                        return row.value;
                    });
                    var url = UserOrgSettingUrls.DoExportUserOrg;
                    url += "?uids=" + uids.toString();
                    window.location.href = url;
                }
            });
            //Form Validate
            $('#js_form_maintain').validate({
                errorContainer: $('ul.validate-error'),
                errorLabelContainer: $('#js_edit_modal ul.validate-error'),
                wrapper: 'li'
            });
            //clear query conditions按钮
            $('#js_btn_clear').click(function () {

                PDMS.Utility.Criteria.Clear(function () {
                    $("#js_s_input_reference_date").val(moment().format("YYYY-MM-DD"));
                    $("#js_s_radio_valid").prop('checked', true);
                });
            });
            //#region Add/Edit model 出现和消失事件
            $('#js_edit_modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var modal = $(this)
                var title = modal.find('.modal-title');

                if (button.attr('id') == 'js_btn_add_userorg') {

                    $('#js_panal_for_add').hide();

                    title.text("Add User Organization");
                    $('#js_btn_save_edit_UserOrg').hide();
                    $('#js_btn_save_new_UserOrg').show();
                    $('#js_btn_del_Org').show();
                    $('#js_input_user_ntid').attr('disabled', false);
                    UserOrgSetting.GetSubDatatable().column(0).visible(true);
                }
                else if (button.hasClass("js-grid-edit")) {

                    title.text("Edit User Organization");
                    $('#js_btn_save_edit_UserOrg').show();
                    $('#js_btn_save_new_UserOrg').hide();
                    $('#js_btn_del_Org').hide();
                    $('#js_input_user_ntid').attr('disabled', true);
                }
            })
            $('#js_edit_modal').on('hidden.bs.modal', function (e) {
                var dataTable = UserOrgSetting.GetSubDatatable();
                dataTable.clear().draw();
                $('#js_edit_modal').find('input').val('');
                $('.list-group.validate-error').empty();
            });
            //#endregion

            //Org select2
            var orgFormatString = "[Org ID]{0}  /  [Org Name]{1}";
            var orgSelect2Option = {
                placeholder: "Enter organization id and pick one as you need",
                allowClear: true,
                ajax: {
                    url: UserOrgSettingUrls.GetOrgInfo,
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            Org: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: PDMS.Utility.Tools.FormatString(orgFormatString, [item.Organization_ID, item.Organization_Name]),
                                    id: item.Organization_UID,
                                    element: { begindate: item.Begin_Date, enddate: item.End_Date, id: item.Organization_ID, uid: item.Organization_UID }
                                }
                            })
                        };
                    },
                    cache: false
                },
                minimumInputLength: 1
            };

            $('#js_edit_modal')
                    .on("select2:select", ".js-subtable-org-id", function (e) {
                        var appendData = e.params.data.element;
                        $(this).closest('tr')
                               .data("orginfo", { "begindate": appendData.begindate, "enddate": appendData.enddate, "id": appendData.id, "uid": appendData.uid });
                    })
                    .on("select2:unselect", function (e) {
                        $(this).closest('tr').removeData("orginfo");
                    })

            //Grid中编辑按钮
            $('body').on('click', '.js-grid-edit', function () {

                var uuid = $(this).data('uuid'),
                    url = UserOrgSettingUrls.QueryUserOrg;

                $('#js_panal_for_add').hide();

                $.post(url, { uuid: uuid }, function (data) {

                    $('#js_input_user_ntid').val(data.User_NTID);
                    $('#js_input_user_name').val(data.User_Name);
                    $("#js_hidden_account_uid").val(uuid);

                    var subTable = $('#js_Org_table').DataTable({
                        columns: UserOrgSetting.SubColumns,
                        ordering: false,
                        data: data.UserOrgWithOrgs,
                        destroy: true,
                        createdRow: function (row, data, index) {
                            $(row).data("orginfo", {
                                "userorguid": data.System_UserOrgUID,
                                "id": data.Organization_ID,
                                "uid": data.Organization_UID,
                                "begindate": data.Org_Begin_Date,
                                "enddate": data.Org_End_Date
                            });
                        }
                    });
                    UserOrgSetting.SetSubDatatable(subTable);
                    UserOrgSetting.GetSubDatatable().column(0).visible(false);

                    $('#js_edit_modal .date').datetimepicker(PDMS.Utility.Settings.DatetimepickerFromToday);
                });

                $('#js_edit_modal').modal('show', $(this));
            });

            $(document).on('click', '.date-clear', function () {
                var $dateInput = $(this).prev();
                if ($dateInput.hasClass('date')) {
                    $dateInput.val('');
                }
            });
            //#endregion
        });
    </script>
}


