<!-- Main content -->

@{
    ViewBag.Notbeempty = T("QA.Notbeempty").Text;
}
<style type="text/css">
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: lightgray !important;
    }

    .js_ppcheckdata_datatable > tbody > tbody > tr {
    }

    .RateDataStyle
    {
        width:215px
    }
    
</style>
<section class="content portal-content">

    <!--次標題 與 搜尋-->
    <div class="row">
        <!--次標題與Search keyword-->
        <div class="col-md-12 col-lg-9">
            <h4 class="margin-td-5">
                <small>
                    <strong>Criteria: </strong>
                    <label>@T("QA.OPType"):</label><label id="js_OPType" name="OPtype"></label>&
                    <label>@T("QA.Date"):</label><label id="js_datetime" name="ProductDate"></label>&
                    <label>@T("QA.Project"):</label><label id="js_project" name="ProjectName"></label>&
                    <label>@T("QA.Part"):</label><label id="js_PartType" name="PartType"></label>&
                    <label>@T("QA.Materialtypes"):</label><label id="js_meterialType" name="MaterialType"></label>&
                    <label>@T("QA.Colour"):</label><label id="js_color" name="Color"></label>&
                    <label>@T("QA.Yieldtype"):</label><label id="js_RateType" name="RateType"></label>
                </small>
            </h4>
        </div><!-- /col-次標題與Search keyword -->
        <!--col-右方搜尋與功能按鈕列-->

        <div class="col-md-12 search-field col-lg-3">
            <div class="dropdown">
                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#js_search_modal" id="js_btn_search"><i class="fa fa-search"></i> @T("QA.Search")</a>
            </div>
        </div><!-- /col-右方搜尋與功能按鈕列-->
    </div><!--/次標題 與 搜尋-->
    <div>
        <ul id="myTab" class="nav nav-tabs"></ul>
        <div id="myTabContent" class="tab-content">
        </div>
    </div>

    <div id="week_label_th">
        <b> <label id="interval_week_date"></label><br />@T("QA.Report")<br /></b>
    </div>
    <div class="row">
        <!--表格-->
        <div class="col-md-12 table-container">
            <div class="table-responsive">
                <br />@T("QA.Timepassrate")<br />
                <table class="table table-striped table-hover table-condensed nowrap" id="js_TimeIntervalFPYReport_table">
                    <thead>
                        <tr>
                            <th>@T("QA.Process")</th>
                            <th>@T("QA.Aims")</th>
                            <th>06:00-08:00</th>
                            <th>06:00-10:00</th>
                            <th>06:00-12:00</th>
                            <th>06:00-14:00</th>
                            <th>06:00-16:00</th>
                            <th>06:00-18:00</th>
                            <th>18:00-20:00</th>
                            <th>18:00-22:00</th>
                            <th>18:00-24:00</th>
                            <th>18:00-02:00</th>
                            <th>18:00-04:00</th>
                            <th>06:00-06:00</th>
                        </tr>
                    </thead>
                </table>
            </div>



            <div id="page" class="row" hidden="hidden"></div>
            <br /><!--/表格-->
        </div><!-- / 內容 表格列 -->

        <hr class="hr-custom">
    </div>
</section><!-- /.content -->

@section ViewModals{
    <!-- Search Modal -->
    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@T("QA.Queryconditions")</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <form id="js_form_query" data-need-validate="true">

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_Plant">@T("QA.Plantarea")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm" id="js_s_input_Plant" name="Plant"></select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_OPType">@T("QA.OPType")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm" id="js_s_input_OPType" name="OPType_OrganizationUID"></select>
                                </div>
                            </div>

                            <input type="hidden" id="js_s_input_OP" value="0" />

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_project">@T("QA.Project")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm " id="js_s_input_project" name="Project_UID"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_Part_Type">@T("QA.Part")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm " id="js_s_input_Part_Type" name="FlowChart_Master_UID"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_MaterialType">@T("QA.Materialtypes")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm" id="js_s_input_MaterialType" name="MaterialType"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_RateType">@T("QA.Querytype")</label>
                                <div class="col-sm-7">
                                    <select id="js_s_RateType" name="RateType" class="form-control input-sm">
                                        <option value="1" selected="selected">一次良率</option>
                                        <option value="2">二次良率</option>
                                    </select>
                                </div>
                            </div>
                            @*日报选项*@
                            <div class="form-group col-xs-12 col-md-6" id="day_Select">
                                <label class="col-sm-5 control-label" for="js_s_input_date">@T("QA.Date")</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="ProductDate" class="form-control input-sm date" id="js_s_input_date">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label class="col-sm-5 control-label" for="js_s_input_color">@T("QA.Colour")</label>
                                <div class="col-sm-7 ">
                                    <select class="form-control input-sm" id="js_s_input_color" name="Color"></select>
                                </div>
                            </div>

                            <input type="hidden" name="FunPlant" id="js_s_input_FunPlant" value="" />
                            <input type="hidden" name="Tab_Select_Text" id="js_tab_select_text" value="" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-search" type="button" class="btn btn-primary btn-query">
                        <i class="fa fa-search"></i>
                        @T("QA.Queryreport")
                    </button>
                </div>
            </div>
        </div>
    </div>

}
@section ViewScripts{
<script type="text/javascript" src="~/Scripts/PDMSJS/QAReportJS/ClickEvent.js"></script>
    <script type="text/javascript">
        $(function () {
            var subDatatable = null;
            var QAReportUrls = {
                QueryTimeIntervalFPYReport: '@Url.Action("QueryTimeIntervalFPYReport", "QAProductSaleReport")'
            };
            //功能厂、汇总
            var TimeIntervalFPYReport = (function () {
                var columns = [
                    {
                        data: "Process",
                        className: "min-col-xs"
                    },{
                        data: "TargetRate_VM",
                        className: "min-col-xs"
                    },{
                        data: "First_TimeInterVal_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Second_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Third_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Fourth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Fifth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Sixth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Seventh_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Eigthth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Ninth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Tenth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Eleventh_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    },{
                        data: "Twelfth_TimeInterval_Rate_VM",
                        className: "min-col-xs"
                    }
                ];
                var _qaReport = function (firstLoad) {
                    var config = {
                        pageId: "#page",
                        tableId: "#js_TimeIntervalFPYReport_table",
                        remoteUrl: QAReportUrls.QueryTimeIntervalFPYReport,
                        searchParams: getParams(),
                        tableOptions: {
                            scrollX: true,
                            autoWidth: true,
                            scrollCollapse: true,
                            paging: false,
                            fixedColumns: true,
                            scrollY: 490,
                            columns: columns
                        }
                    };
                    if (!firstLoad) {
                        $('#page').page('destroy');
                    }
                    PDMS.Utility.Pages.Set(config);
                };
                return {
                    Init: function () {
                        //页面初始化加载查询时，初始化Criteria
                        PDMS.Utility.Criteria.Init();
                    },
                    QueryQaReportSummery: function () {
                        _qaReport(false);
                    }
                }
            })();

            TimeIntervalFPYReport.Init();
            function getParams() {
                return $('#js_form_query').serialize().replace(/\+/g, " ");
            }
            QueryPlant();
            //查询条件
            $('#btn-search').click(function () {
                if ($("#js_s_input_MaterialType").val() == null || $("#js_s_input_project").find("option:selected").text() == null
                        || $("#js_s_input_date").val() == "") {
                    PDMS.Utility.MessageBox.error("@ViewBag.Notbeempty");
                    return;
                }
                PDMS.Utility.Criteria.Build();
                $('#js_search_modal').modal('hide');
                var str = $("#js_s_input_date").val();
                var mtype = $("#js_s_input_MaterialType").val();
                var partType = $("#js_s_input_Part_Type").find("option:selected").text();
                var color = $("#js_s_input_color").val();
                var project = $("#js_s_input_project").find("option:selected").text();
                var rateType = $("#js_s_RateType").find("option:selected").text();
                var opType = $("#js_s_input_OPType").val();
                $("#js_project").text(project);
                $("#js_color").text(color);
                $("#js_meterialType").text(mtype);
                $("#js_datetime").text(str);
                $('#js_RateType').text(rateType);
                $('#js_OPType').text(opType);
                $('#js_PartType').text(partType);
                TimeIntervalFPYReport.QueryQaReportSummery();
            });
            //清空选择条件
            $('#js_search_modal').on('click', '.btn-clear', function () {
                //如果没有特殊项的Clear，直接调用Clear方法
                var $searchform = $('#js_form_query');
                $searchform.find("select").each(function () {
                    $(this).find("option").attr("selected", false);
                    $(this).find("option").first().attr("selected", true);
                }
                );
                PDMS.Utility.Criteria.Clear();
            });

        });
    </script>
}
