@{
    ViewBag.MaintenanceIEDetail = T("Production.MaintenanceIEDetail").Text;
    ViewBag.Approve = T("Common.Approve").Text;
    ViewBag.Close = T("Common.Close").Text;
    ViewBag.TeampleDownload = T("Common.TeampleDownload").Text;
    ViewBag.UploadExcel = T("Common.UploadExcel").Text;
    ViewBag.ApproveSuccess = T("Common.ApproveSuccess").Text;
    ViewBag.Exporting = T("QA.Exporting").Text;
    ViewBag.Imported = T("QA.Imported").Text;
    ViewBag.Importsuccessful = T("QA.Importsuccessful").Text;
    ViewBag.MaintenanceIEDetail = T("Production.MaintenanceIEDetail").Text;

 }
<!-- Main content --> 
<section class="content portal-content">
    <!--次標題 與 搜尋-->
    <div class="row">
        <!--次標題與Search keyword-->
        <div class="col-md-12 col-lg-8">
            <h4 class="margin-td-5" id="js_search_keywords"></h4>
        </div><!-- /col-次標題與Search keyword -->
        <!--col-右方搜尋與功能按鈕列-->
        <div class="col-md-12 search-field col-lg-4">
            <a id="btn_import_download" href="~/ExcelTemplate/Fixture_Part.xlsx" class="fa fa-download btn btn-primary" target="_self">@ViewBag.TeampleDownload</a> <!--模板下載-->
            <a id="bt_search" class="fa fa-search btn btn-primary" role="button" data-toggle="modal" data-target="#js_search_modal"> @T("Common.Search")</a> <!--查詢-->
            <button type="button" class="fa fa-upload btn btn-primary" id="btn_import_fl"> @ViewBag.UploadExcel</button>  <!--上傳-->         
            <a id="js_btn_export" class="fa fa-download btn btn-primary" role="button"> @T("Common.Export")</a>  <!--導出--> 
        </div>
    </div><!--/次標題 與 搜尋-->
    <hr class="hr-custom">
    <div class="row">
        <div class="col-xs-12" id="js_criteria_alert_cnt">
        </div>
    </div>
    <!--內容 表格列-->
@using (Html.BeginForm("DataTableExec", "FlowChart", FormMethod.Post, new { id = "js_form_datatable_exec" }))
{
    <div class="row">
        <!--表格-->
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_user_datatable">
                <thead>
                    <tr>
                        <th class="table-col-action nosort">@T("Common.Action")</th>
                        <th class="table-col-seq nosort">@T("Common.Seq")</th>
                        <th>@T("QA.Client")</th>
                        <th>@T("QA.Project")</th>
                        <th>@T("QA.Part")</th>
                        <th>@T("QA.Productionstage")</th>
                        <th>@T("QA.Version")</th>
                        <th>@T("QA.ReleaseNotes")</th>
                        <th>@T("QA.Creator")</th>
                        <th>@T("QA.Createtime")</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-action nosort">@T("Common.Action")</th>
                        <th class="table-col-seq nosort">@T("Common.Seq")</th>
                        <th>@T("QA.Client")</th>
                        <th>@T("QA.Project")</th>
                        <th>@T("QA.Part")</th>
                        <th>@T("QA.Productionstage")</th>
                        <th>@T("QA.Version")</th>
                        <th>@T("QA.ReleaseNotes")</th>
                        <th>@T("QA.Creator")</th>
                        <th>@T("QA.Createtime")</th>
                    </tr>
                </tfoot>
            </table>
            <div id="page" class="row"></div>
        </div><!--/表格-->
    </div><!-- / 內容 表格列 -->
}

</section><!-- /.content -->
<!-- 查詢的頁面 Start-->
@section ViewModals{
<div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@T("Common.Search")</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row">
                    <form id="js_form_query" data-need-validate="true">
                        <!--
                        <input type="text" name="CurrentDepartent" class="form-control input-sm" id="js_s_input_CurrentDepartent" value="IE">
                        -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_select_factory_query">厂区</label>
                                <div class="col-sm-7">
                                    <select class="selectpicker form-control input-sm" id="js_select_factory_query" name="Plant_Organization_UID" data-live-search="true">
                                        <option></option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_select_optype_add">OP类型</label>
                                <div class="col-sm-7">
                                    <select class="selectpicker form-control input-sm required" id="js_select_optype_add" name="BG_Organization_UID" data-live-search="true" required data-msg-required="请选择[OP类型]."></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="js_select_project">专案</label>
                                <div class="col-sm-7">
                                    <select class="selectpicker form-control input-sm" id="js_select_project" name="Project_UID" data-live-search="true"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="s_input_process">制程</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm required" id="s_input_process" name="process" placeholder="Process"
                                           required data-msg-required="Please enter Process"
                                           data-rule-maxlength="30" data-msg-maxlength="Please enter no more than {0} characters in Process.">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-clear" id="js_btn_clear">@T("Common.Clear")</button>
                <button id="btn_search" type="button" class="btn btn-primary btn-query">@T("Common.Search")</button>
            </div>
        </div>
    </div>
</div>
<!-- 查詢的頁面 End-->


<!--上傳Excel Start-->
<div class="modal fade" id="js_editExcel_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@T("Production.UpdateRadioExcel")</h4>
            </div>
            @using (Html.BeginForm("UploadIEFlowCharts", "ProductionPlanning", FormMethod.Post, new { enctype = "multipart/form-data", id = "js_form_excel_update" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="js_s_input_upload_update">@T("QA.SelecttheExcelfile")</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="js_s_input_upload_update" name="upload_excel" placeholder="@T("QA.SelecttheExcelfile")"
                                   required data-msg-required="@T("QA.PleaseselectEXCELfileupload")" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="js_s_input_version_comment_update">版本说明</label>
                        </div>

                        <div class="col-sm-8">
                            <textarea type="text" name="FlowChart_Version_Comment" class="form-control input-sm" id="js_s_input_version_comment_update"
                                      required data-msg-required="@T("Production.InputVersionDesc")!" placeholder="@T("QA.ReleaseNotes")"></textarea>
                        </div>
                    </div>

                </div>

                    <div class="modal-footer">
                        <button type="button" class="fa fa-upload btn btn-primary" id="js_btn_clear_Update">@T("Common.Cancel")</button>
                        <button type="button" class="fa fa-download btn btn-primary" id="js_btn_excel_update">@T("QA.Submit")</button>
                        <input type="hidden" id="hid_key" name="FlowChart_Master_UID" />
                    </div>
            }
        </div>
    </div>
</div>
<!--上傳Excel End-->
}

@section ViewScripts{
    <script type="text/javascript">
        $(function () {
            var FlowChartsForIE = (function () {
                var urls = {
                    QueryFlowCharts: '@Url.Action("QueryFlowCharts", "FlowChart")',
                    JudgeFlowchart: '@Url.Action("JudgeFlowchart", "ProductionPlanning")',
                    ViewFlowchart: '@Url.Action("ViewFlowchart", "ProductionPlanning")',
                    QuerySummaryReport: '@Url.Action("QuerySummaryReport", "ProductionPlanning")',
                    FlowchartListIEMatching: '@Url.Action("FlowchartListIEMatching", "ProductionPlanning")',
                    DownloadIEMatching: '@Url.Action("DownloadIEFlowCharts", "ProductionPlanning")'
                };


                var columns = [
                {
                    createdCell: function (td, cellData, rowData, row, col) {
                        //查看人力配比明细
                        var htmlView = '<button type="button" class="btn btn-default btn-sm js-grid-view" data-id="' + rowData.FlowChart_Master_UID + '" data-project="' + rowData.Project_Name + '">@ViewBag.MaintenanceIEDetail</button></br>';
                        //审核
                        var htmlJudge = '<button type="button" class="btn btn-default btn-sm js-grid-judge" data-id="' + rowData.FlowChart_Master_UID + '" data-project="' + rowData.Project_Name +'">@ViewBag.Approve</button> </br>';
                        //查看人力配比汇总表
                        var htmlReport = '<button type="button" class="btn btn-default btn-sm js-grid-report" data-id="' + rowData.FlowChart_Master_UID + '" data-project="' + rowData.Project_Name + '">@ViewBag.Close</button></br>';
                        //下载人力配比明细模板
                        var htmldownload = '<button type="button" class="btn btn-default btn-sm js-grid-download" data-id="' + rowData.FlowChart_Master_UID + '" data-project="' + rowData.Project_Name + '">@ViewBag.TeampleDownload</button></br>';
                        //上传人力配比明细
                        var htmlupload = '<button type="button" class="btn btn-default btn-sm js-grid-upload" data-id="' + rowData.FlowChart_Master_UID + '" data-project="' + rowData.Project_Name + '">@ViewBag.UploadExcel</button></br>';

                        var result = '<button type="button" class="btn btn-default btn-xs" rel="action-popover">' +
                                     '<i class="fa fa-reorder text-info"></i>' +
                                     '</button>' +
                                     '<div class="hidden popover-content">';

                        result = result + htmlView + htmlJudge + htmlReport + htmldownload + htmlupload;
                        $(td).html(result);
                    },
                    className: "text-center"
                }, {
                    data: null,
                    className: "table-col-seq"
                }, {
                    data: "BU_D_Name",
                    className: "min-col-xs"
                }, {
                    data: "Project_Name",
                    className: "min-col-xs"
                }, {
                    data: "Part_Types",
                    className: "min-col-xs"
                }, {
                    data: "Product_Phase",
                    className: "min-col-xs"
                }, {
                    data: "FlowChart_Version",
                    className: "min-col-xs"
                }, {
                    data: "FlowChart_Version_Comment",
                    className: "min-col-xs"
                }, {
                    data: "User_Name",
                    className: "min-col-xs"
                }, {
                    data: "Modified_Date",
                    className: "min-col-xs"
                }];





            var _getParams = function () {
                return $('#js_form_query').serialize().replace(/\+/g, " ");
            };

            var _queryFLS = function (firstLoad) {
                var config = {
                    pageId: "#page",
                    tableId: "#js_user_datatable",
                    remoteUrl: urls.QueryFlowCharts,
                    searchParams: _getParams(),
                    tableOptions: {
                        scrollX: true,
                        autoWidth: true,
                        columns: columns
                    }
                };

                if (!firstLoad) {
                    $('#page').page('destroy');
                    PDMS.Utility.Criteria.Build();
                }
                PDMS.Utility.Pages.Set(config);
            };

            return {
                urls: urls,
                Init: function () {
                    PDMS.Utility.Criteria.Init();
                    _queryFLS(true);
                },
                QueryFLCharts: function () {
                    _queryFLS(false);
                }
            }

            })();
            FlowChartsForIE.Init();

            $('body').on('click', '.js-grid-view', function () {
                var FlowChart_Master_UID = $(this).attr('data-id');
                var ProjectName = $(this).attr('data-project');


                var url = FlowChartsForIE.urls.FlowchartListIEMatching;
                url += "?FlowChart_Master_UID=" + FlowChart_Master_UID + "&&ProjectName=" + ProjectName;
                window.location.href = url;

            });
            $('body').on('click', '.js-grid-judge', function () {
                var FlowchartMaster_UID = $(this).attr('data-id');
                $.post(FlowChartsForIE.urls.JudgeFlowchart, { FlowChart_Master_UID: FlowchartMaster_UID }, function (data) {
                    if (data != "Success")
                        PDMS.Utility.MessageBox.error(data);
                    else {
                        PDMS.Utility.MessageBox.info("@ViewBag.ApproveSuccess");
                    }
                });
                FlowChartsForIE.QueryFLCharts();
            });

            $('body').on('click', '.js-grid-report', function () {
                var FlowchartMaster_UID = $(this).attr('data-id');
                var projectName = $(this).attr('data-project');


            });

            $('body').on('click', '.js-grid-download', function () {
                $.blockUI({ message: "<h1>@ViewBag.Exporting</h1>" });
                setTimeout($.unblockUI, 6000);
                var FlowChart_Master_UID = $(this).attr('data-id');
                var Project_Name = $(this).attr('data-project');
                $('#js_form_datatable_exec').attr('action', '../ProductionPlanning/DownloadIEFlowCharts?Flowchart_Master_UID=' + FlowChart_Master_UID + '&Project_Name=' + Project_Name);
                $('#js_form_datatable_exec').submit();
            });

            $('body').on('click', '.js-grid-upload', function () {
                var FlowchartMaster_UID = $(this).attr('data-id');
                var projectName = $(this).attr('data-project');
                //var FlowChart_Master_UID = $(this).attr('data-id');
                $('#hid_key').val(FlowchartMaster_UID);
                //$.get(FLMaintenance.urls.queryFL, { FlowChart_Master_UID: FlowChart_Master_UID }, function (data) {
                //    var customer = data.BU_D_Name;
                //    var projectName = data.SystemProjectDTO.Project_Name;
                //    var partTypes = data.FlowChartMasterDTO.Part_Types;
                //    var phase = data.SystemProjectDTO.Product_Phase;
                $('#js_editExcel_modal').find('.modal-title').text("@ViewBag.UploadExcel" + projectName + " " + "@ViewBag.MaintenanceIEDetail");
                $('#js_editExcel_modal').modal('show');
                });
            

            //#region 更新Excel提交按钮
            $('#js_btn_excel_update').on('click', function () {
                $('#js_editExcel_modal').modal('hide');
                
                $.blockUI({ message: "<h1>@ViewBag.Imported</h1>" });
                $('#js_form_excel_update').ajaxSubmit({
                    beforeSubmit: function () {
                        if (!$('#js_form_excel_update').valid()) {
                            $.unblockUI();
                            return false;
                        }
                    },
                    success: function (data) {
                        $.unblockUI();
                        $('#js_editExcel_modal').find('input').val('');
                        $('#js_s_input_version_comment_update').val('');
                        if (data != '"Success"') {
                            PDMS.Utility.MessageBox.info(data);
                        }
                        else {
                            FlowChartsForIE.QueryFLCharts();
                            PDMS.Utility.MessageBox.info('@ViewBag.Importsuccessful');
                        }
                    }
                });
            });
            //#endregion

            });
    </script>
}