@model PDMS.Model.ViewModels.VendorInfoVM
<section class="content portal-content">

    <div class="row">
        <div class="col-xs-12" id="js_criteria_alert_cnt">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 col-lg-8">
                <h4 class="margin-td-5" id="js_search_keywords"></h4>
            </div>
            <div class="col-md-12 search-field col-lg-4">
                @using (Html.BeginForm("DownloadBomExcel", "FlowChart", FormMethod.Post, new { id = "js_form_excel_download" }))
                {
                    <button id="bt_search" type="button" class="fa fa-search btn btn-primary" data-toggle="modal" data-target="#js_search_modal"> 查询</button>
                    <button type="button" class="fa fa-plus btn btn-primary" id="btn_add"> 领用</button>
                    <button type="button" class="fa fa-download btn btn-primary" id="js_btn_export"> 导出</button>
                }
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-container">
            <table class="table table-striped table-hover table-condensed nowrap" id="js_Bom_datatable">
                <thead>
                    <tr>
                        <th class="table-col-checkbox nosort">
                            <input type="checkbox" class="js-checkbox-all" />
                        </th>
                        <th class="table-col-action nosort">操作</th>
                        <th class="table-col-seq nosort">序号</th>
                        <th>表单编号</th>
                        <th>厂别</th>
                        <th>BG</th>
                        <th>功能厂</th>
                        <th>发货者</th>
                        <th>发货日期</th>
                        <th>领用者工号</th>
                        <th>领用者名称</th>
                        <th>领用日期</th>
                        <th>创建者</th>
                        <th>创建日期</th>
                        <th>修改者</th>
                        <th>修改日期</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="table-col-checkbox nosort"></th>
                        <th class="table-col-action nosort">操作</th>
                        <th class="table-col-seq nosort">序号</th>
                        <th>表单编号</th>
                        <th>厂别</th>
                        <th>BG</th>
                        <th>功能厂</th>
                        <th>发货者</th>
                        <th>发货日期</th>
                        <th>领用者工号</th>
                        <th>领用者名称</th>
                        <th>领用日期</th>
                        <th>创建者</th>
                        <th>创建日期</th>
                        <th>修改者</th>
                        <th>修改日期</th>
                    </tr>
                </tfoot>
            </table>
            <div id="page" class="row"></div>

        </div><!--/表格-->
    </div>

</section>

@section ViewModals{
<div class="modal fade" id="js_view_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">治具领用</h4>
            </div>
            @using (Html.BeginForm("AddOrEditEQPMaintenance2", "Equipmentmaintenance", FormMethod.Post, new { id = "js_form_maintenance2" }))
            {
                    <div class="modal-footer" style="padding-bottom:0px">
                        <div class="col-sm-12" style="text-align:left">
                            <h4>
                                <b>基本信息</b>
                            </h4>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Plant">厂别</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="s_input_Plant" name="Plant" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_BG">BG</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="s_input_BG" name="BG" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_FunPlant">功能厂</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="s_input_FunPlant" name="FunPlant" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Totake_NO">领用单号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="s_input_Totake_NO" name="Totake_NO" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Shiper">发货者</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="s_input_Shiper" name="Shiper" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Ship_Date_search">发货时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Ship_Date_search" name="Ship_Date" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Totaker">领用者</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Totaker" name="Totaker" readonly>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Totake_Date_search">领用时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Totake_Date_search" name="Totake_Date" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding-bottom:0px">
                        <div class="col-sm-12" style="text-align:left">
                            <h4>
                                <b>领用治具明细</b>
                            </h4>
                        </div>


                        <div class="form-group col-xs-12 col-md-12 col-lg-12" style="padding-right:0px">
                            <table class="table table-condensed col-sm-9" id="table_fixture">
                                <thead>
                                    <tr>
                                        <th class="table-col-checkbox nosort">
                                            <input type="checkbox" class="js-checkbox-all" />
                                        </th>
                                        <th class="padding-1-5-i text-center">治具短码</th>
                                        <th class="padding-1-5-i text-center">治具唯一编号</th>
                                        <th class="padding-1-5-i text-center">制程</th>
                                        <th class="padding-1-5-i text-center">工站</th>
                                        <th class="padding-1-5-i text-center">线别</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                    </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="js_edit_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">治具领用</h4>
            </div>
            @using (Html.BeginForm("AddOrEditFixtureTotake", "Fixture", FormMethod.Post, new { id = "js_form_maintenance" }))
            {
                <input type="hidden" name="fixturelist" id="fixturelist" />
                    <div class="modal-footer" style="padding-bottom:0px">
                        <div class="col-sm-12" style="text-align:left">
                            <h4>
                                <b>基本信息</b>
                            </h4>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_select_plant">厂区</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" id="js_select_plant" name="Plant_Organization_UID" >
                                    @if (Model.Plants.Count > 1)
                                    {
                                        <option value=0></option>
                                    }
                                    @foreach (var item in Model.Plants)
                                    {
                                        <option value=@item.Plant_OrganizationUID>@item.Plant</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_select_op_types">OP类型</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" id="js_select_op_types" name="BG_Organization_UID">
                                    @if (Model.optypes != null)
                                    {
                                        <option value=0></option>

                                        foreach (var item in Model.optypes)
                                        {
                                            if (item.BG != "Support team")
                                            {
                                                <option value=@item.BG_OrganizationUID>@item.BG</option>
                                            }
                                        }
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_select_funplant">功能厂</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" id="js_select_funplant" name="FunPlant_Organization_UID">
                                    @if (Model.funplants != null)
                                    {
                                        <option value=0></option>
                                        foreach (var item in Model.funplants)
                                        {
                                            <option value=@item.System_FunPlant_UID>@item.FunPlant</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_select_Shiper_UID">发货者</label>
                            <div class="col-sm-8">
                                <select class="selectpicker form-control input-sm" id="js_select_Shiper_UID" name="Shiper_UID"
                                        data-live-search="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Ship_Date">发货时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm date_time required" id="s_input_Ship_Date" name="Ship_Date">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_input_Totake_Number">领用者工号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="js_input_Totake_Number" name="Totake_Number" placeholder="领用者工号"
                                       required data-msg-required="请输入[领用者工号]."
                                       data-rule-maxlength="20" data-msg-maxlength="工站名称不能超过 {0} 个字符.">
                            </div> 
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_input_Totake_Name">领用者名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm required" id="js_input_Totake_Name" name="Totake_Name" placeholder="领用者名称"
                                       required data-msg-required="请输入[领用者名称]."
                                       data-rule-maxlength="50" data-msg-maxlength="工站名称不能超过 {0} 个字符.">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Totake_Date">领用时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm date_time required" id="s_input_Totake_Date" name="Totake_Date">
                            </div>
                        </div>

               

                    </div>
                    <div class="modal-footer" style="padding-bottom:0px">
                        <div class="col-sm-12" style="text-align:left">
                            <h4>
                                <b>领用治具明细</b>
                            </h4>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Line_ID">产线代码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Line_ID" name="Line_ID">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Line_Name">产线名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Line_Name" name="Line_Name">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Machine_ID">设备代码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Machine_ID" name="Machine_ID">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Machine_Name">设备名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Machine_Name" name="Machine_Name">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Process_ID">制程代码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Process_ID" name="Process_ID">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="s_input_Process_Name">制程名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" id="s_input_Process_Name" name="Process_Name">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-6 col-lg-6">
                            <label class="col-sm-4 control-label" for="js_select_fixture">治具</label>
                            <div class="col-sm-8">
                                <select class="selectpicker form-control input-sm" id="js_select_fixture" name="Fixture_M_UID" data-live-search="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3" style="padding-left:0px;padding-top:5px">
                            <div class="col-sm-5">
                                <button type="button" class="fa fa-plus btn btn-primary" id="bt_add_fixture">新增</button>
                            </div>
                            <div class="col-sm-5">
                                <button type="button" class="fa fa-times btn btn-primary" id="bt_remove_fixture">删除</button>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-md-12 col-lg-12" style="padding-right:0px">
                            <table class="table table-condensed col-sm-9" id="table_fixture2" name="table_fixture2">
                                <thead>
                                    <tr>
                                        <th class="table-col-checkbox nosort">
                                            <input type="checkbox" class="js-checkbox-all" />
                                        </th>
                                        <th class="padding-1-5-i text-center">治具短码</th>
                                        <th class="padding-1-5-i text-center">治具唯一编号</th>
                                        <th class="padding-1-5-i text-center">制程</th>
                                        <th class="padding-1-5-i text-center">工站</th>
                                        <th class="padding-1-5-i text-center">线别</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
                        <button class="btn btn-primary btn-sm" id="js_btn_save" type="button"><i class="fa fa-save"></i> 保存</button>
                    </div>
            }
        </div>
    </div>
</div>


    <div class="modal fade" id="js_search_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查询</h4>
                </div>
                <div class="modal-body">
                    <form id="js_form_query" class="form-horizontal" data-need-validate="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_select_plant_search">厂区</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm" id="js_select_plant_search" name="Plant_Organization_UID">
                                            @if (Model.Plants.Count > 1)
                                            {
                                                <option value=0></option>
                                            }
                                            @foreach (var item in Model.Plants)
                                            {
                                                <option value=@item.Plant_OrganizationUID>@item.Plant</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_select_op_types_search">OP类型</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm" id="js_select_op_types_search" name="BG_Organization_UID">
                                            @if (Model.optypes != null)
                                            {
                                                <option value=0></option>
                                                foreach (var item in Model.optypes)
                                                {
                                                    if (item.BG != "Support team")
                                                    {
                                                        <option value=@item.BG_OrganizationUID>@item.BG</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_select_funplant_search">功能厂</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm" id="js_select_funplant_search" name="FunPlant_Organization_UID">
                                            @if (Model.funplants != null)
                                            {
                                                <option value=0></option>
                                                foreach (var item in Model.funplants)
                                                {
                                                    <option value=@item.System_FunPlant_UID>@item.FunPlant</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Process_ID_search">制程</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Process_ID" class="form-control input-sm" id="js_s_input_Process_ID_search" placeholder="Process">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_WorkStation_ID_search">工站</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="WorkStation_ID" class="form-control input-sm" id="js_s_input_WorkStation_ID_search" placeholder="WorkStation">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Machine_ID_search">设备编号</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Machine_ID" class="form-control input-sm" id="js_s_input_Machine_ID_search" placeholder="Machine ID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Fixture_Unique_ID_search">设备编号</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Fixture_Unique_ID" class="form-control input-sm" id="js_s_input_Fixture_Unique_ID_search" placeholder="Fixture ID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Vendor_ID_search">供应商编号</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Vendor_ID" class="form-control input-sm" id="js_s_input_Vendor_ID_search" placeholder="Vendor ID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Totake_NO_search">领用单编号</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Totake_NO" class="form-control input-sm" id="js_s_input_Totake_NO_search" placeholder="Totake NO">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Line_ID_search">线别代码</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Line_ID" class="form-control input-sm" id="js_s_input_Line_ID_search" placeholder="Line ID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_ShortCode_search">治具短码</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="ShortCode" class="form-control input-sm" id="js_s_input_ShortCode_search" placeholder="ShortCode">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_Fixture_Name_search">治具名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Fixture_Name" class="form-control input-sm" id="js_s_input_Fixture_Name_search" placeholder="Fixture Name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-hr" for="js_s_input_User_NTID_search">最新修改者NTID</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Modifier" class="form-control input-sm" id="js_s_input_User_NTID_search" placeholder="User_NTID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-type="date-interval">修改日期</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <span class="input-group-addon">From</span>
                                            <input type="text" name="Modified_Date_from" class="form-control input-sm date" id="js_s_input_Modified_Date_from">
                                            <span class="input-group-addon">To</span>
                                            <input type="text" name="Modified_Date_to" class="form-control input-sm date" id="js_s_input_Modified_Date_to">
                                        </div>
                                    </div>
                                </div>
                            </div>  

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_clear"><i class="fa fa-eraser"></i> 清空</button>
                    <button type="button" class="btn btn-primary btn-sm" id="js_btn_query"><i class="fa fa-search"></i> 查询</button>
                </div>
            </div>
        </div>
    </div>

}
@section ViewScripts{
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-select.css" />
<script type="text/javascript" src="~/Scripts/EQP/bootstrap-select.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bt_add_fixture').hide();
            $('#bt_remove_fixture').hide();
        })

    $('#js_btn_clear').click(function () {
        $('#js_select_plant_search').val(0);
        $('#js_select_op_types_search').val(0);
        $('#js_select_funplant_search').val(0);
        $('#js_select_Account_UID_search').val(0);
        $('#js_select_Workshop_ID_search').val(0);
        $('#js_select_Workshop_UID_search').val(0);
        $('#js_select_Account_UID_search').selectpicker('val', '');
        $("#js_select_Account_UID_search").trigger("liszt:updated");
        PDMS.Utility.Criteria.Clear();
    });


    //#endregion
    $(function () {
        var FixtureTotakeRul = (function () {
            var urls = {
                //画面初始化加载
                queryFixtureTotake: '@Url.Action("QueryFixtureTotake", "Fixture")',
                getOrgByParant: '@Url.Action("GetOrgByParant", "Fixture")',
                queryFixtureTotakeByUid: '@Url.Action("QueryFixtureTotakeByUid", "Fixture")',
                queryFixtureByUid: '@Url.Action("QueryFixtureByUid", "Fixture")',
                //导出excel
                doExportFunction: '@Url.Action("DoFTExportFunction", "Fixture")',
                getFixtureByWorkshop: '@Url.Action("GetFixtureByWorkshop", "Fixture")',
                viewFixtureTotakeDetails: '@Url.Action("FixtureTotakeDetail", "Fixture")',
                getUserByOp: '@Url.Action("GetUserByOpLY", "Fixture")',
                getUserByWorkshop: '@Url.Action("GetUserByWorkshop", "Fixture")',

                doAllExportFunction: '@Url.Action("DoAllFTExportFunction", "Fixture")',

            };

            //#region 定义字段列
            var columns = [
                {
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_Totake_M_UID + '">')
                        .addClass('table-col-checkbox');
                    },
                    className: "text-center"
                },{
                    createdCell: function (td, cellData, rowData, row, col) {
                        var result = '<button class="btn btn-primary btn-xs" rel="action-popover">' +
                                    '<i class="fa fa-reorder"></i>' +
                                    '</button>' +
                                    '<div class="hidden popover-content">' +
                                        '<button type="button" class="btn btn-primary btn-xs js-grid-view" data-id="' + rowData.Fixture_Totake_M_UID + '">查看</button>' +
                                    '</div>';
                        $(td).html(result);
                    },
                    className: "text-center"
                },
                {
                    data: null,
                    className: "table-col-seq"
                },
                {
                    data: "Totake_NO",
                    className: "min-col-xs"
                },
                 {
                     data: "Plant",
                       className: "min-col-xs"
                 },
                 {
                     data: "BG",
                      className: "min-col-xs"
                 },
                {
                    data: "FunPlant",
                    className: "min-col-xs"
                },
                {
                    data: "Shiper",
                    className: "min-col-xs"
                },
                {
                    data: "Ship_Date",
                    className: "min-col-xs"
                },
                {
                    data: "Totake_Number",
                    className: "min-col-xs"
                },
                {
                    data: "Totake_Name",
                    className: "min-col-xs"
                },
                {
                    data: "Totake_Date",
                    className: "min-col-xs"
                },
                {
                    data: "Creator",
                    className: "min-col-xs"
                }, {
                    data: "Created_Date",
                    className: "min-col-xs"
                }, {
                    data: "Modifier",
                    className: "min-col-xs"
                }, {
                    data: "Modified_Date",
                    className: "min-col-xs"
                }];

            var fixtureDatatableColumns = [{
                data: null,
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).html('<input type="checkbox" name="cktrans" class="js-checkbox-item" value="' + rowData.Fixture_M_UID + '">')
                         .addClass('table-col-checkbox');
                },
                className: "text-center min-col-xs"
            },
            {
                data: "ShortCode",
                className: "min-col-xs text-center"
            }, {
                data: "Fixture_Unique_ID",
                className: "min-col-xs text-center"
            }, {
                data: "Process",
                className: "min-col-xs text-center"
            }, {
                data: "WorkStation",
                className: "min-col-xs text-center"
            }, {
                data: "Line",
                className: "min-col-xs text-center"
            }];
            //#endregion 定义字段列

            var _getParams = function () {
                
                PDMS.Utility.Settings.Pages.remote.params = $('#js_form_query').serialize().replace(/\+/g, " ");

                return $('#js_form_query').serialize().replace(/\+/g, " ");

            };

            var _queryFixtureTotake = function (firstLoad, buildCriteria) {

                var config = {
                    pageId: "#page",
                    tableId: "#js_Bom_datatable",
                    remoteUrl: urls.queryFixtureTotake,
                    searchParams: _getParams(),
                    tableOptions: {
                        scrollX: true,
                        autoWidth: true,
                        columns: columns
                    }

                };
                if (!firstLoad) {
                    $('#page').page('destroy');
                }
                if (buildCriteria) {
                    PDMS.Utility.Criteria.Build();
                }
                PDMS.Utility.Pages.Set(config);
            };
            return {
                urls: urls,
                Init: function () {
                    PDMS.Utility.Criteria.Init();
                    _queryFixtureTotake(true, false);
                },
                queryFixtureTotake: function (buildCriteria) {
                    if (!buildCriteria) {
                        buildCriteria = false;
                    }
                    _queryFixtureTotake(false, true);
                },
                GetFixtureDatatable: function () {
                    fixtureDatatable = $('#table_fixture2').DataTable({
                        paging: false,
                        searching: false,
                        ordering: false,
                        retrieve: true,
                        columns: fixtureDatatableColumns
                    });
                    return fixtureDatatable;
                },
                SetFixtureDatatable: function (datatable) {
                    fixtureDatatable = datatable;
                },
                FixtureColumns: fixtureDatatableColumns
            }
        })();

        FixtureTotakeRul.Init();

        //隐藏查询框时清空值
        $('#js_search_modal').on('hidden.bs.modal', function (e) {
            $('#js_search_modal').find('input').val('');
        });

        $('#js_select_Account_UID,#js_select_Account_UID_search').selectpicker({ 'selectedText': 'cat' });

        //根据厂区设定OP,并设定初始值---------START
        function SetOpByPlant(Plant_Organization_UID, BG_Organization_UID) {
            $('#js_select_op_types_search').html('<option value=0></option>');
            url = FixtureTotakeRul.urls.getOrgByParant;
            if (Plant_Organization_UID != 0) {
                $.post(url, { Parant_UID: Plant_Organization_UID,type:1 }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_op_types_search').append('<option value="' + data[i].Organization_UID + '">' + data[i].Organization_Name + '</option>');
                    }
                    $('#js_select_op_types_search').val(BG_Organization_UID);
                });
            }
        }
        //根据厂区设定OP,并设定初始值-----------END


        //保养类别变更-----------START
        $('#js_select_Maintenance_Type').change(function () {
            var Maintenance_Type = $('#js_select_Maintenance_Type').val();
            SetCycleIdByMaintenanceType(Maintenance_Type,0);
        })
        //保养类别变更-------------END

        //保养类别变更-----------START
        $('#js_select_Maintenance_Type_search').change(function () {
            var Maintenance_Type = $('#js_select_Maintenance_Type_search').val();
            SetCycleIdByMaintenanceType2(Maintenance_Type, 0);
        })
        //保养类别变更-------------END
        //根据OP设定功能厂,并设定初始值---------START
        function SetFunPlantByOp(BG_Organization_UID, FunPlant_Organization_UID) {
            $('#js_select_funplant_search').html('<option value=0></option>');
            url = FixtureTotakeRul.urls.getOrgByParant;
            if (BG_Organization_UID != 0) {
                $.post(url, { Parant_UID: BG_Organization_UID,type:2 }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_funplant_search').append('<option value="' + data[i].Organization_UID + '">' + data[i].Organization_Name + '</option>');
                    }
                    $('#js_select_funplant_search').val(FunPlant_Organization_UID);
                });
            }
        }
        //根据OP设定功能厂,并设定初始值-----------END

        //根据厂区设定OP,并设定初始值---------START
        function SetOpByPlant2(Plant_Organization_UID, BG_Organization_UID) {
            $('#js_select_op_types').html('<option value=0></option>');
            url = FixtureTotakeRul.urls.getOrgByParant;
            if (Plant_Organization_UID != 0) {
                $.post(url, { Parant_UID: Plant_Organization_UID ,type:1}, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_op_types').append('<option value="' + data[i].Organization_UID + '">' + data[i].Organization_Name + '</option>');
                    }
                    $('#js_select_op_types').val(BG_Organization_UID);
                });
            }
        }
        //根据厂区设定OP,并设定初始值-----------END

        //产线名称或设备名称变更--------------START
        $('#s_input_Line_ID,#s_input_Line_Name,#s_input_Machine_ID,#s_input_Machine_Name,#s_input_Process_ID,#s_input_Process_Name').change(function () {
            $('#js_select_fixture').html('<option value=0></option>');
            var Account_UID = $('#js_select_Shiper_UID').val(),
                Line_ID = $('#s_input_Line_ID').val(),
                Line_Name = $('#s_input_Line_Name').val(),
                Machine_ID = $('#s_input_Machine_ID').val(),
                Machine_Name = $('#s_input_Machine_Name').val(),
                Process_ID = $('#s_input_Process_ID').val(),
                Process_Name = $('#s_input_Process_Name').val(),
                url = FixtureTotakeRul.urls.getFixtureByWorkshop;
            if (Account_UID != 0) {
                $.post(url, { Account_UID: Account_UID, Line_ID: Line_ID, Line_Name: Line_Name, Machine_ID: Machine_ID, Machine_Name: Machine_Name, Process_ID: Process_ID, Process_Name: Process_Name }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_fixture').append('<option value="' + data[i].Fixture_M_UID + '">' + data[i].ShortCode + "_" + data[i].Fixture_Unique_ID + '</option>');
                    }
                    $('#js_select_fixture').selectpicker('refresh');
                });
            }

        })
        //专案名称或工站名称变更----------------END

        //根据OP设定功能厂,并设定初始值---------START
        function SetFunPlantByOp2(BG_Organization_UID, FunPlant_Organization_UID) {
            $('#js_select_funplant').html('<option value=0></option>');
            url = FixtureTotakeRul.urls.getOrgByParant;
            if (BG_Organization_UID != 0) {
                $.post(url, { Parant_UID: BG_Organization_UID,type:2 }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_funplant').append('<option value="' + data[i].Organization_UID + '">' + data[i].Organization_Name + '</option>');
                    }
                    $('#js_select_funplant').val(FunPlant_Organization_UID);
                });
            }
        }
        //根据OP设定功能厂,并设定初始值-----------END


        //BG或功能厂变更时取得发货者-------------START
        $('#js_select_op_types,#js_select_funplant').change(function () {
            
            var url = FixtureTotakeRul.urls.getUserByOp,
                BG_Organization_UID = $('#js_select_op_types').val(),
                FunPlant_Organization_UID = $('#js_select_funplant').val();
            if (BG_Organization_UID == null || BG_Organization_UID == undefined) {
                BG_Organization_UID = 0;
            }
            if (FunPlant_Organization_UID == null || FunPlant_Organization_UID == undefined) {
                FunPlant_Organization_UID = 0;
            }
            $('#js_select_Shiper_UID').html('');
            if (BG_Organization_UID != 0) {
                $.post(url, { BG_Organization_UID: BG_Organization_UID, FunPlant_Organization_UID: FunPlant_Organization_UID }, function (data) {
                    $('#js_select_Shiper_UID').append('<option ></option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_Shiper_UID').append('<option value="' + data[i].Account_UID + '">' + data[i].User_NTID + '_' + data[i].User_Name + '</option>');
                    }
                });
            }
            $("#js_select_Shiper_UID").selectpicker('refresh');
            $("#js_select_Shiper_UID").trigger('change');
        })
        //BG或功能厂变更时取得发货者---------------END

        //发货者变更时取得领用者和治具-----------START
        $('#js_select_Shiper_UID').change(function () {
            var Account_UID = $('#js_select_Shiper_UID').val(),
               Line_ID = $('#s_input_Line_ID').val(),
               Line_Name = $('#s_input_Line_Name').val(),
               Machine_ID = $('#s_input_Machine_ID').val(),
               Machine_Name = $('#s_input_Machine_Name').val(),
               Process_ID = $('#s_input_Process_ID').val(),
               Process_Name = $('#s_input_Process_Name').val();

            $('#js_select_fixture').html('');
            $("#js_select_fixture").selectpicker('refresh');
            if (Account_UID != 0) {
                var url = FixtureTotakeRul.urls.getFixtureByWorkshop
                $.post(url, { Account_UID: Account_UID, Line_ID: Line_ID, Line_Name: Line_Name, Machine_ID: Machine_ID, Machine_Name: Machine_Name, Process_ID: Process_ID, Process_Name: Process_Name }, function (data) {
                    $('#js_select_fixture').append('<option ></option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#js_select_fixture').append('<option value="' + data[i].Fixture_M_UID + '">' + data[i].ShortCode + "_" + data[i].Fixture_Unique_ID + '</option>');
                    }
                    $('#js_select_fixture').selectpicker('refresh');
                });
            }
        })
        //发货者变更时取得领用者和治具-------------END

        //厂区变更--------start
        $('#js_select_plant_search').change(function () {
            var plantuid = $('#js_select_plant_search option:selected').val();
            SetOpByPlant(plantuid, 0);
        })
        //厂区变更---------end

        //BG变更----------START
        $('#js_select_op_types_search').change(function () {
            var bgorg = $('#js_select_op_types_search option:selected').val();
            SetFunPlantByOp(bgorg, 0);
        })
        //BG变更------------END

        //BG变更----------START
        $('#js_select_op_types').change(function () {
            var bgorg = $('#js_select_op_types option:selected').val();
            SetFunPlantByOp2(bgorg, 0);
        })
        //BG变更------------END

        $('#btn_add').click(function () {
            $('#js_edit_modal').modal('show', $(this));
        })

        //隐藏编辑框时清空值
        $('#js_edit_modal').on('hidden.bs.modal', function (e) {
            $('#js_edit_modal .list-group.validate-error').empty();
            $('#js_edit_modal').find('input').val('');
            $('#js_edit_modal').find('select').find('option:first').attr("selected", true);

            $('#js_select_Shiper_UID').selectpicker('val', '');
            $("#js_select_Shiper_UID").trigger("liszt:updated");

            var dataTable = FixtureTotakeRul.GetFixtureDatatable();

            var $checkedItems = $('#table_fixture2 .js-checkbox-item');
            $.map($checkedItems, function (checkbox) {
                var $sender = $(checkbox);
                var $tr = $sender.closest('tr');
                var trIndex = $tr.index();

                dataTable.row($tr).remove().draw();

            });
            dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                dataTable.cell(rowIdx, 1).data(rowIdx + 1).draw()
            });
        });

        //查询按钮
        $('#js_btn_query').click(function () {
            if ($('#js_form_query').valid()) {
                FixtureTotakeRul.queryFixtureTotake();
                $('#js_search_modal').modal('hide');
            }
        });


        //检测输入数据
        $('#js_form_user_edit').validate({
            errorContainer: $('ul.validate-error'),
            errorLabelContainer: $('#js_edit_modal ul.validate-error'),
            wrapper: 'li'
        });


        //为新增或修改Modal，注册事件-------START
        $('#js_edit_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
        });
        //为新增或修改Modal，注册事件---------END

        //查看----------------------START
        $('body').on('click', '.js-grid-view', function () {
            var uid = $(this).data('id')
            
            Plant_Organization_UID = $('#js_search_modal').find('select[name=Plant_Organization_UID]').val();
            BG_Organization_UID = $('#js_search_modal').find('select[name=BG_Organization_UID]').val();
            if (BG_Organization_UID == null)
            {
                BG_Organization_UID = 0;
            }
            FunPlant_Organization_UID = $('#js_search_modal').find('select[name=FunPlant_Organization_UID]').val();
            Process_ID = $('#js_search_modal').find('input[name=Process_ID]').val();
            WorkStation_ID = $('#js_search_modal').find('input[name=WorkStation_ID]').val();
            Line_ID = $('#js_search_modal').find('input[name=Line_ID]').val();
            Fixture_Unique_ID = $('#js_search_modal').find('input[name=Fixture_Unique_ID]').val();
            Machine_ID = $('#js_search_modal').find('input[name=Machine_ID]').val();
            Vendor_ID = $('#js_search_modal').find('input[name=Vendor_ID]').val();
            ShortCode = $('#js_search_modal').find('input[name=ShortCode]').val();
            Fixture_Name = $('#js_search_modal').find('input[name=Fixture_Name]').val();
            Modifier = $('#js_search_modal').find('input[name=Modifier]').val();
            Modified_Date_from = $('#js_search_modal').find('input[name=Modified_Date_from]').val();
            Modified_Date_to = $('#js_search_modal').find('input[name=Modified_Date_to]').val();
            url = FixtureTotakeRul.urls.viewFixtureTotakeDetails + '?Fixture_Totake_M_UID=' + uid+
                    '&Plant_Organization_UID='+Plant_Organization_UID+
                    '&BG_Organization_UID='+BG_Organization_UID+
                    '&FunPlant_Organization_UID=' + (FunPlant_Organization_UID == null ? 0 : FunPlant_Organization_UID) +
                    '&Process_ID='+Process_ID+
                    '&WorkStation_ID='+WorkStation_ID+
                    '&Line_ID='+Line_ID+
                    '&Fixture_Unique_ID='+Fixture_Unique_ID+
                    '&Machine_ID='+Machine_ID+
                    '&Vendor_ID='+Vendor_ID+
                    '&ShortCode='+ShortCode+
                    '&Fixture_Name='+Fixture_Name+
                    '&Modifier=' + Modifier+
                    '&Modified_Date_from=' + Modified_Date_from +
                    '&Modified_Date_to=' + Modified_Date_to;
            window.location.href = url;

        });
        //查看------------------------END

        //新增治具----------------START
        $('#bt_add_fixture').click(function () {
            if ($('#js_select_fixture').val() == "") {
                PDMS.Utility.MessageBox.info('请选择治具');
                return false;
            }
            $('#bt_add_fixture').hide();
            var Fixture_M_UID = $('#js_select_fixture option:selected').val();
            var url = FixtureTotakeRul.urls.queryFixtureByUid;
            var dataTable = FixtureTotakeRul.GetFixtureDatatable();
            $.post(url, { Fixture_M_UID: Fixture_M_UID }, function (data) {
                $('#js_select_fixture option[value="' + data.Fixture_M_UID + '"').remove();
                $('#js_select_fixture').selectpicker('refresh')
                var row = dataTable.row.add({
                    "Fixture_M_UID": data.Fixture_M_UID,
                    "ShortCode": data.ShortCode,
                    "Fixture_Unique_ID": data.Fixture_Unique_ID,
                    "Process": (data.Process_ID == null ? "" : data.Process_ID + '_') + (data.Process_Info == null ? "" : data.Process_Info),
                    "WorkStation": (data.WorkStation_ID==null? "" :data.WorkStation_ID + '_') + (data.Workstation==null?"":data.Workstation),
                    "Line": (data.Line_ID==null?"":data.Line_ID + '_') + (data.Line_Name==null?"":data.Line_Name)
                }).draw();
            })
        })
        //新增治具------------------END

        //删除治具 start
        $('#bt_remove_fixture').on('click', function () {
            var dataTable = FixtureTotakeRul.GetFixtureDatatable();
            var $checkedItems = $('#table_fixture2 .js-checkbox-item:checked');

            if ($checkedItems.length == 0) {
                PDMS.Utility.MessageBox.info("Please select data to delete");
                return;
            } else {
                $.map($checkedItems, function (checkbox) {
                    var $sender = $(checkbox);
                    var Fixture_M_UID = $sender.val();
                    var $tr = $sender.closest('tr');
                    var trIndex = $tr.index();
                    var ShortCode = $('#table_fixture2 tbody tr:eq(' + trIndex + ') td:eq(1)').text();
                    var Fixture_Unique_ID = $('#table_fixture2 tbody tr:eq(' + trIndex + ') td:eq(2)').text();
                    $('#js_select_fixture').append('<option value="' + Fixture_M_UID + '">' + ShortCode + '_' + Fixture_Unique_ID + '</option>');
                    $('#js_select_fixture').selectpicker('refresh');
                    dataTable.row($tr).remove().draw();

                });
                dataTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    dataTable.cell(rowIdx, 1).data(rowIdx + 1).draw()
                });
            }
            if ($('#table_fixture2 tbody th td').length <= 1)
                $('#bt_remove_fixture').hide();
        });
        // 删除治具 end

        //勾选已添加的治具-----------------START
        $('#table_fixture2').change(function () {
            var $checkedItems = $('#table_fixture2 .js-checkbox-item:checked');

            if ($checkedItems.length == 0) {
                $('#bt_remove_fixture').hide();
            }
            else
                $('#bt_remove_fixture').show();
        })
        //勾选已添加的治具-------------------END

        //选择治具---------------------START
        $('#js_select_fixture').change(function () {
            if ($('#js_select_fixture').val() == "") {
                $('#bt_add_fixture').hide();
            } else {
                $('#bt_add_fixture').show();
            }
        })
        //选择治具-----------------------END

        // 领用保存-------------------START
        $('#js_btn_save').click(function () {
            
            $('#js_form_maintenance').ajaxSubmit({
                beforeSubmit: function () {
                    var isValid = true;
                    var errorMsg = "";
                    if ($('#table_fixture2 tbody').find('tr').find('td').length <= 1) {
                        errorMsg += '请选择治具;  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('select[name=Plant_Organization_UID] option:selected').text() == "") {
                        errorMsg += '请选择[厂区];  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('select[name=BG_Organization_UID] option:selected').text() == "") {
                        errorMsg += '请选择[OP类型];  ';
                        isValid = false;
                    }

                    if ($('#js_edit_modal').find('select[name=Shiper_UID] option:selected').text() == "") {
                        errorMsg += '请选择[发货者];  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('input[name=Ship_Date]').val() == "") {
                        errorMsg += '请填写[发货时间];  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('input[name=Totake_Number]').val() == "") {
                        errorMsg += '请填写[领用者工号];  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('input[name=Totake_Name]').val() == "") {
                        errorMsg += '请填写[领用者名称];  ';
                        isValid = false;
                    }
                    if ($('#js_edit_modal').find('input[name=Totake_Date]').val() == "") {
                        errorMsg += '请填写[领用时间];  ';
                        isValid = false;
                    }
                    if (!isValid) {
                        if (errorMsg!="") {
                            PDMS.Utility.MessageBox.info(errorMsg);
                        }
                        return false;
                    }
                },
                success: function (data) {
                    if (data.indexOf("失败")>0) {
                        PDMS.Utility.MessageBox.info(data);
                    }
                    else {
                        $('#js_edit_modal').modal('hide');
                        PDMS.Utility.MessageBox.info('更新成功,领用单号为'+data);
                        FixtureTotakeRul.queryFixtureTotake();
                    }
                }
            });
        })
        //领用保存---------------------END

        $('#js_btn_save').mouseover(function () {

            var fixturedata = FixtureTotakeRul.GetFixtureDatatable();
            var FunctionFixtures = [];
            fixturedata.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var sub = {};
                var row = $('#table_fixture2>tbody>tr').eq(rowIdx);
                sub["Fixture_M_UID"] = $.trim(row.find('input[name=cktrans]').val());
                FunctionFixtures.push(sub);
            });
            $('#fixturelist').val(JSON.stringify(FunctionFixtures));
        })


        //导出----------START
        $('#js_btn_export').click(function () {
            var $selectList = $('#js_Bom_datatable').find('.js-checkbox-item:checked');
            var len = $selectList.length;
            if (len == 0) {
                //全部导出
                var url = FixtureTotakeRul.urls.doAllExportFunction;
                //没有查询条件的情况，从查询页面获取
                if (PDMS.Utility.Settings.Pages.remote.params == null) {
                    PDMS.Utility.Settings.Pages.remote.params = $('#js_form_query').serialize().replace(/\+/g, " ");
                }
                url += '?' + PDMS.Utility.Settings.Pages.remote.params;
                window.location.href = url;

                //PDMS.Utility.MessageBox.info('please select datas to export!');
            } else {
                var uids = $.map($selectList, function (row) {
                    return row.value;
                });
                $('table').find('.js-checkbox-all,.js-checkbox-item').prop('checked', false);
                var url = FixtureTotakeRul.urls.doExportFunction;
                url += "?uids=" + uids.toString()+'';
                window.location.href = url;
            }
        });
        //导出------------END

        $('#s_input_Ship_Date,#s_input_Totake_Date').datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
        })
    })
    </script>
}